<div class="c-home-events">
	{% set events = craft.calendar.events({ limit:2,order:"startDate ASC",endsAfter:"now"}) %}
	<div class="c-home-events_title">
		<p>{{'Événements à venir'|t}}</p>
	</div>
	<ul class="o-list-bare">
		{% for event in events %}
    		<li>
    			<p class="c-home-events_date">{{ event.startDateLocalized|date("j F Y") }}</p>
        		<a href="{{event.url()}}">
        		<p class="c-home-events_calendar">{{event.calendar.name}}</p>
        		<p class="c-events_title">{{event.title}}</p>
        		</a>
       		</li> 
		{% endfor %}	
	</ul>
	<a class="c-btn c-btn--fourth" href="{{info.eventsLink}}">Voir tous les événements</a>
</div>