{% if craft.app.session.hasFlash('notice') %}
    <p class="message notice">{{ craft.app.session.getFlash('notice') }}</p>
{% elseif craft.app.session.hasFlash('error') %}
    <p class="message error">{{ craft.app.session.getFlash('error') }}</p>
{% endif %}


<form id="my-form" class="c-form" method="post" action="" accept-charset="UTF-8" enctype="multipart/form-data">
    {{ csrfInput() }}
    <input type="hidden" name="action" value="contact-form/send">
    {{ redirectInput('contact/thanks') }}

<h3><label for="from-name">Your Name</label></h3>
    <input id="from-name" type="text" name="fromName" value="">

    <h3><label for="from-email">Your Email</label></h3>
    <input id="from-email" type="email" name="fromEmail" value="">

    <h3><label for="subject">Subject</label></h3>
    <input id="subject" type="text" name="subject" value="">

    <h3><label for="message">Message</label></h3>
    <textarea rows="10" cols="40" id="message" name="message"></textarea>

	<h3><label for="phone">Your phone number</label></h3>
	<input id="phone" type="text" name="message[Phone]" value="">

	<h3><label for="adresse">Adresse</label></h3>
	<input id="address" type="text" name="message[adresse]" value="">	



    <input type="submit" class="c-btn c-btn--primary" value="Send">

</form>