
@media (min-width: 840px) and (max-width: 1280px) {		       
	.c-btn--secondary:after,.c-btn--secondary:before {
		display: none;
	}
	.c-btn--secondary {
		padding-left: 22px !important;
		max-width: 320px;
	}
}


.c-background {
// Hide pattern

@media (max-width: 600px) {
	.c-btn--secondary:after,.c-btn--secondary:before {
		position: relative;
	}
	.c-btn--secondary {
		padding-left: 22px !important;
		min-height: 0;
		max-width: 320px;
	}
}

@media (max-width: 840px) {
	.c-btn--secondary {
		font-size: 17px;
		line-height: 22px;
		
	}


	.c-btn--secondary.-absolute {
    	position: relative;
	    transform: translate(-50%, 0%);
	    margin-bottom: 32px;
	    left: 50%;
	} 
}


@media (max-width: 1080px) {		       
	.c-btn--secondary.-news:before  {
		display: none;
	}
}


 	

svg {
	width: 100%;

	@media (max-width: 840px) {
		display: none;
	}
}
padding: 0 20px 10px;
&.-last-bg {
	padding: 0 20px;
	margin-bottom: -10px;

	@media (max-width: 840px) {
		display: none;
	}

}
&.-one {
	position: relative;
	.c-background_content {
		@media (max-width: 840px) {
			position: relative;
			height: unset;
			top: unset;
			width: unset;
		}
		position: absolute;
		height: calc(100% - 20px);
		width: calc(100% - 40px);
		top: 0;
		.o-layout,
		.o-layout_item {
			height: 100%;
			position: relative;
		}
	}
}

}
