
#c-list-mobile {
	@media (max-width: 600px) {
		display: block;
	}
	display: none;


    .c-list-mobile_fileList a {
		max-width: 100%;
	    white-space: nowrap;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    display: block !important;
	}

	.c-list {

		.c-list_hidden_content ul {
			background: #E6E5DB;
			margin-left: 0;

			li:first-child {
				background: #172E30;
			    color: #FFF;
			    text-transform: uppercase;
			    margin-bottom: 16px;
			    padding: 8px 32px;
			}
			li {
				padding-bottom: 8px;
			}
		}
	}
}

#c-list {
	@media (max-width: 600px) {
		display: none;
	}
}


.c-list {
	    // overflow-x: scroll;
@include mixingBottom();	
	ul {
		list-style-type: none;
		margin-left: 0;
		margin-bottom: 60px;
		li {
			border-top: 1px solid $colorFour;
			padding: 0 20px;
			.c-list_visible {
				position: relative;
				margin: 4px 0;
				&:hover {
					cursor: pointer;
				}
				&.-js-item-active {
.c-arrow {
	transform: rotate(270deg);
	@media (max-width: 720px){
       transform: rotate(270deg) scale(0.8);
    }
}					
				}
			}
			h4 {
				margin-bottom: 0;
				padding: 16px 0;
			}
			.c-list_hidden {
				display: none;
				&.-js-list-active {
					display: block;
				}
				.c-list_hidden_content {
					padding: 24px 0;

					@media (max-width: 420px){
					    width: calc(100% + 24px);
					}


ul {
		@media (max-width: 600px){
			margin-left: -36px;
			li {
				font-size: 15px !important;
			}
		}
		list-style-type: none;
		margin-left: 48px;
		position: relative;
		margin-bottom: 48px;
		&:before {
			@media (max-width: 600px){
		      display: none;
		    }
			position: absolute;
			content: '';
			height: 100%;
			left: 0;
			width: 3px;
			background: $colorSev;
		}
		li {
			padding-left: 40px;
			line-height: 28px;
			font-size: 18px;
			letter-spacing: 0.39px;
			border-top: none;
			&:last-child {
				border-bottom: none;
			}			
		}
	}					
				}
			}
			&:last-child {
			border-bottom: 1px solid $colorFour;				
			}
		}
	}
}

.c-arrow {
    position: absolute;
    height: 26px;
    width: 33px;
    background: url(../images/icons/ssk-arrow-blck.svg);
    top: 17px;
    right: 0;
    background-size: cover !important;
    transform: rotateZ(90deg);
    transition: 0.3s linear;

    @media (max-width: 720px){
      transform: rotateZ(90deg)  scale(0.8);
      right: -30px;
    }
}

.c-error {
	@include mixingBottom();
}