.c-content {
@include mixingBottom();
	p + ul {
		@media (max-width: 600px) {
			margin-top: 0;
		}
		margin-top: 48px;
	}
	ul {
		list-style-type: none;
		margin-left: 48px;
		position: relative;

		@media (max-width: 600px){
			margin-left: -36px;
        	&:before {
        		display: none;
        	}
        	li {
        		padding-left: 0;
        	}
    	}

		&:before {
			position: absolute;
			content: '';
			height: 100%;
			left: 0;
			width: 3px;
			background: $colorSev;
		}
		li {
			padding-left: 40px;
			line-height: 28px;
			font-size: 18px;
			letter-spacing: 0.39px;
		}
	}
	h3 {
		margin-bottom: 1.5em;
		color:$colorFour;		
		&:before {
			display:none;
		}
	}
	&.-home {
		padding: 0 20px;
	}
	&_home {
		background: $colorOne;
		text-align: center;
		padding: 80px 0 56px;
	}
}

.homePage {
.c-content {
margin-bottom: 20px;
}
}