.c-content-layout {
@include mixingBottom();
	@media (max-width: 720px){
		 &.-img-txt {
			h3 {
				margin-top: 48px;
			}	
		}
		&.-txt-img {
			img {
				margin-top: 48px;
			}	
		}
		
	}
	h3 {
		
		color: $colorFour;
		margin-bottom: 48px;
		&:before{  
			display:none;
			background: red;
		}	
	}
}

.homePage {
.c-content-layout {
margin-bottom: 20px;
}
}