.c-list-structure_ul {
	li {
		margin-bottom: 64px;
		position: relative;
		.c-list-structure_info,
		.c-list-structure_link {
			display: inline-block;
			vertical-align: top;
			margin-top: -56px;
			height: 75.42%;				
			position: absolute;		
		}
		.c-list-structure_info {
			background: #E5E5DB;
			padding: 40px;
			z-index: 2;
			width: calc(100% - 35.8% - 20px);
			.c-list-structure_info_wrap {

			}
		}
		.c-list-structure_link {
			background: #333;
			margin-left: 20px;
			width: 26.42045455%;
			right: 3.541076487%;
			a {
				color: #FFF;
			}
		}
	}
}




.careerAvailable {
	.c-list ul li .c-list_hidden {
		display: block;
	}
}



.c-proces-verbaux_table {
	&.-fileList {
		list-style-type: none !important;
	    margin-left: -24px !important;
	    position: static !important;
	    margin-bottom: 0 !important;

	    ::before {
	    	content: none;
	    }
	   

	    #c-list-mobile.c-list-mobile_fileList a,li a {
	    	max-width: 100%;
			width: 180px;
		    white-space: nowrap;
		    overflow: hidden;
		    text-overflow: ellipsis;
		    display: block !important;
		    font-size: 14px;
			@media (min-width:600px)  {
		      width: 120px;
		  	}
		  	@media (min-width:1000px)  {
		      width: 180px;
		  	}
		  	@media (min-width:1400px)  {
		      width: 196px;
		  	}
	    }
	}

	td,th {
		width: 20%;
		font-size: 14px;
	}
	th {
		background: #172E30;
		color: #FFF;
		text-transform: uppercase;
		padding: 16px 8px;
		margin-bottom: 40px;
		border-left: 15px solid white;		
	}
	th:first-child {
		border-left: 0;
	}
	tbody:before {
    content:"@";
    display:block;
    line-height:0;
    text-indent:-99999px;
}
td {
	padding: 32px 12px;
}
tr:nth-child(even) {background: #E6E5DB}
tr:nth-child(odd) {background: #FFF}


}