.c-files {
@include mixingBottom();
	ul {
		margin-left: 0;
		margin-bottom: 0;
		list-style-type: none;
		li {
			@media (max-width: 600px) {
				padding: 18.5px 10px 18.5px 68px !important;
				&:before {
					left: 16px !important;
				}
				a {
					font-size: 14px !important;
				}

			}
			padding: 18.5px 0 18.5px 96px !important;
			position: relative;

			&:before {
				position:absolute;
				content: '';
				height: 37px;
				width: 28px;
				background: url('../images/icons/st-stanislas-de-kostka_icons_pdf.svg');
				left: 36px;
				top: 50%;
				transform: translate(0,-50%);
			}
			a {
				font-size: 18px;
				line-height: 24px;
				letter-spacing: 0.44px;
				color: $colorFour;
				text-decoration: none;
			}
			&:nth-child(odd) {
				background: $colorOne;
			}
		}
	}
}

.c-list {
	.c-files {
	margin-bottom:0;
	.o-wrapper.-two{
	padding-top: 40px;
	li {
		border: none !important;
	}
	}
	}
}

.homePage {
.c-files {
margin-bottom: 20px;
}
}

.c-files {
	.c-arrow {
		display: none;
	}
}