.c-team {
@include mixingBottom();
	.c-team_member {

		&:last-child,
		&:nth-last-child(2) {
			margin-bottom: 0;
		}	
	.c-team_title {
		position: relative;
		margin-bottom: 24px;
		h3 {
			color: $colorFour;
			margin-bottom: 16px;
			font-size: 18px;
			letter-spacing:0.44px;
			line-height: 22px;
			font-weight: 600;
			&:before {
				display:none;
			}
		}
		span {
			font-size: 18px;
			letter-spacing: 0.69px;
			line-height: 23px;
		}	
	}
	.c-team_member_image {
		@media (max-width: 1280px){
	       	height: 254px;
	  		width: 254px;
    	}
		position: relative;
		height: 186px;
		width: 186px;
	}
}
.c-team_member {
	position: relative;
	.c-team_content {
		@media (max-width: 1280px){
	       margin-left: 0;
	       padding-left: 24px;
	       padding-right: 24px;
    	}
		margin-left: 56px;
		padding-left: 164px;
		background: #E6E5DB;
		margin-top: 32px;
		height: 100%;
		padding-right: 40px;
		margin-bottom: 88px;
		padding-top: 48px;
		padding-bottom: 24px;
	}
}
.c-team_image {
	@media (max-width: 1280px){
		position: relative;
		left: 0;
	}
	position: absolute;
	top: 0;
	left: 72px;
	width: 186px;
}
}