
.c-form {
	margin-bottom: 72px;
  position: relative;
	.o-wrap {
		position: relative;
	}
}
.c-form_wrap {
	position: relative;
	padding: 108px 0;
	&:before {
		position: absolute;
		content: '';
		background: rgba(230,230,230,0.2);		
		width: 50vw;
		left: -50vw;
		top: 0;
		height: 100%;
	}
	&:after {
		position: absolute;
		content: '';
		background: rgba(230,230,230,0.2);		
		left: 0;
		top: 0;
		height: 100%;
		z-index: -1;
	}	
	h3 {
		color: $colorFour;
	}
}


            .c-form input[type="text"],
            .c-form input[type="email"],
            .c-form input[type="phone"]{
                height: 55px;

                max-width: 798px;
                margin-bottom: 18px;
                @media screen and (min-width: 320px) {
					width: 100%;
                }	
                @media screen and (min-width: 840px) {
                	width: calc(50% - 12px);
				}
            }

            .c-file_wrap {
            	margin-bottom: 32px !important;
                @media screen and (min-width: 320px) {
					width: calc(100%);
                }	
                @media screen and (min-width: 840px) {
                	width: calc(50% - 24px);
				}
                max-width: 798px;
                margin-bottom: 18px;
                text-align: center;         
                padding: 24px 16px !important;   	
            }

            .c-file-upload .c-file-select {
				width: 288px;
				padding: 0 !important;
				background: #FFF;
				border: 1px solid #D8D8D8;
				min-height: 62px;
				margin: 0 auto;
			}

            .c-form input:nth-child(odd) {
                @media screen and (max-width: 839px) {
                	 margin-left: 0;
                   margin-right: 0;
                }	
                @media screen and (min-width: 840px) {
                	margin-left: 0px;
                	margin-right: 0px;
				        }            	
            }

            .c-form input:nth-child(even) {
                @media screen and (max-width: 839px) {
                	margin-left: 0;
                	margin-right: 0;
                }	
                @media screen and (min-width: 840px) {
                  margin-left: 24px;
			         	}            	
            }            

            .c-file-upload {
                font-style: italic;
            }
            .c-file-upload .c-file-select {
                display: block;
                cursor: pointer;
                text-align: left;
                overflow: hidden;
                position: relative;
            }
            .c-file-upload .c-file-select .c-file-select-button {
                display: inline-block;
                line-height: 60px;
                float: right;
                height: 55px;
                top: 0;
                margin-top: -6px;
                color: #868686;
            }
            .c-file-upload .c-file-select .c-file-select-name {
                line-height: 18px;
                max-width: 220px;
                font-style: italic;
                padding: 13px 16px;
                display: inline-block;
            }
            .c-file-upload .c-file-select input[type="file"] {
                z-index: 100;
                cursor: pointer;
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                opacity: 0;
                filter: alpha(opacity=0);
            }
            .c-file-upload .c-file-select.c-file-select-disabled {
                opacity: 0.65;
            }
            .c-file-upload .c-file-select.c-file-select-disabled:hover {
                cursor: default;
                display: block;
                border: 2px solid #dce4ec;
                color: #34495e;
                cursor: pointer;
                height: 40px;
                line-height: 40px;
                margin-top: 5px;
                text-align: left;
                background: #ffffff;
                overflow: hidden;
                position: relative;
            }

            textarea {
                margin-bottom: 28px;
            }
            textarea,
            .c-form input[type="text"],
            .c-form input[type="email"],
            .c-form input[type="phone"],
            .c-file_wrap {
                background:$colorOne;
                border: none;
                padding: 12px;
                resize: none;                
            }
            textarea:focus,
            .c-form input[type="text"]:focus,
            .c-form input[type="email"]:focus {
                outline: none;
            }      

            .c-submit {
                display: inline-block;
            }

            .c-submit_wrap  {
                text-align: right;
            }  

            .c-form label {
                font-size: 14px;
                letter-spacing: 1.13px;
                line-height: 19px;
            }

            .c-confirmation__title {
                margin-bottom: 0;
                padding: 8px;
            }

            .c-confirmation {
                display: none;
            }

            .c-confirmation h3,
            .c-confirmation p {
                margin-bottom: 0;
                text-align: center;
            }

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 2px solid $colorSev !important;
  -webkit-text-fill-color: $colorFour;
  -webkit-box-shadow: 0 0 0px 1000px #FFF inset;
  transition: background-color 5000s ease-in-out 0s;
}

.parsley-errors-list {
    list-style-type: none;
    margin-left: 0;
    li {
        font-size: 14px;
        font-weight: 500;
            color: #dc3545;
    }
}

.invalid-form-error-message.filled p {
              color: #dc3545 !important;
              font-weight: 500;
}

.c-form-advert {
	font-size: 16px;
	letter-spacing: 0.18px;
	line-height: 19px;
	margin-bottom: 40px;
}          

// Media Query  

@media (min-width:320px) { 
    .c-form_img {
    display: none;
    }
    .c-form_wrap {
        &:after {
            width: 150%;
        }
    }
}

@media (min-width:480px) { 
    .c-form_wrap {
        &:after {
            width: 90%;
        }
    }
}

@media (min-width:1024px) { 
    .c-form_img {
        display: block;
        top: 108px;
        position: absolute;
        right: 0;
        width: 40%;
        padding-left: 72px;
    }
    .c-form_wrap {
        &:after {
            width: 85%;
        }
    }
}


.c-form_success {
    color: $colorSev;
}



.c-foundation-work,
.c-construction-work,
.c-Location-work_input,
.c-platform {
	display: none;
}


.section {
  height: 100%;
  margin: 0 auto;
  margin-bottom: 32px;
}


.c-radio-button_item {
  position: relative;
  display: inline-block;
  max-width: 400px;
  width: 100%;
  margin-right:20px;
  &.-confirmation {
  	width: 100%;
  	max-width: 100%;
  }
  }


  .c-radio-button_item.-third {
  	max-width: 211px;
  }

  .c-radio-button_item label {
    display: inline-block;
    cursor: pointer;
    text-align: left; }
  .c-radio-button_item input {
    display: none; }
  .c-radio-button_icon {
    cursor: pointer;
    pointer-events: none; }
    .c-radio-button_icon:before, .c-radio-button_icon:after {
      content: "";
      position: absolute;
      transition: 0.2s ease-out; }

@media only screen and (max-width: 480px) {
  .c-radio-button_item {
    display: block;
    width: 100%;
    margin: 0 auto 10px auto; } }

.c-radio-button_item label {
  width: 100%;
  height: 20px;
  line-height: 20px;
  transition: all 0.2s; }
  .c-radio-button_item label:before, .c-radio-button_item label:after {
    position: absolute;
    top: 0;
    left: 30px;
    width: 100%;
    transition: all 0.2s .1s ease-out; }
  .c-radio-button_item label:before {
    content: attr(data-text); }

.c-radio-button_item input:checked ~ .c-radio-button_icon:before {
  animation: wave .7s ease-out; }

.c-radio-button_item input:checked ~ .c-radio-button_icon:after {
  opacity: 1;
  animation: zoomFadeIn .4s; }

.c-radio-button_item .c-radio-button_icon {
  position: absolute;
  left: 0;
  top: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  overflow: visible;
	border: 1px solid $colorFour; }
  .c-radio-button_item .c-radio-button_icon:before, .c-radio-button_item .c-radio-button_icon:after {
    border-radius: 50%; }
  .c-radio-button_item .c-radio-button_icon:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8); }
  .c-radio-button_item .c-radio-button_icon:after {
    top: 4px;
    left: 4px;
    width: 10px;
    height: 10px;
    background: $colorSev;
    animation: zoomFadeOut .2s ease-out;
    opacity: 0;
    transition: none; }

.c-radio-button_item:hover input:not(:checked) ~ .c-radio-button_icon {
  animation: hover .2s; }

.c-radio-button_item:hover input:not(:checked) ~ label:before {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); }

@keyframes zoomFadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes zoomFadeIn {
  0% {
    opacity: 0;
    transform: scale(3); }
  90% {
    opacity: 1;
    transform: scale(1); }
  100% {
    transform: scale(1); } }

@keyframes hover {
  0% {
    transform: scale(1); }
  30% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

@keyframes wave {
  0% {
    opacity: 1;
    transform: scale(1); }
  40% {
    opacity: 0.2; }
  100% {
    opacity: 0;
    transform: scale(1.5); } }

form .o-layout {
	margin-bottom: 24px;
  margin-left: 0;

  @media (max-width:720px)  {
      margin-left: 0;
  }
}

.c-radio-button_item {
	margin-bottom: 32px;
}

.c-form input.c-btn.c-btn--primary:nth-child(odd) {
	margin-left: 0 !important;
}



.c-file_icon {
    height: 37px;
    width: 28px;
    background: url(../images/icons/st-stanislas-de-kostka_icons_pdf.svg);
    right: 16px;
    top: 50%;
    position: absolute;
    transform: translate(0, -50%);
}

.c-input_wrap {
  input {
    margin-left: 0 !important;
  }
}



.c-form_confirmation {
    background: $colorSev;
    position: absolute;
    width: 100%;
    top: 0;
    padding: 20px 20px 40px;
    margin-bottom: 56px;
    display: none;
    p {
      margin-bottom: 0;
      color: #FFF;
    }
    .c-form_confirmation_close {
      position: absolute;
      top: 10px;
      right: 10px;
      height: 20px;
      width: 20px;
      &:before,
      &:after {
        position: absolute;
        content: "";
        background-color: #FFF;
        width: 24px;
        height: 2px;
        top: 10px;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }      
    }

}



.c-input_disabled {
  opacity: 0.4;
}




#form-contact {
  &.c-form {
      input:nth-child(even) {
          margin-left: 0;
      }              
  }
}