    .c-video {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 55vw;
        overflow: hidden;
        display: flex;
        //background: #000;
        iframe {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
        }    
    }