.c-home-events {
width: 100%;
	ul {
		margin-bottom: 48px;
		position: relative;
		padding: 48px 28px 16px 40px;
&:before {
				position: absolute;
				content: '';
				top: 0;
				left: 39px;
				width: 1px;
				height: 100%;
				background: #000;

			}		
		li {
			margin-left: 40px;
			position: relative;
			padding: 40px 0 16px 0;
			border-bottom: 1px solid #979797;
			&:before {
    position: absolute;
    content: '';
    top: 0;
    left: -48px;
    width: 16px;
    height: 16px;
    border: 1px solid #000;
    border-radius: 100%;
    background: #FFF;
    margin-top: 40px;
			}			
			&:last-child {
				margin-bottom: 0;
				padding-bottom: 0;
				border-bottom: none;
			}
			&:first-child {
				padding-top: 0;
				&:before {
					margin-top: 0;
				}
			}

			a {
				text-decoration: none;
				.c-events_title {
					font-size: 18px;
					line-height: 24px;
					letter-spacing: 0.44px;
					margin-bottom: 6px;
					font-weight: 600;
					color: $colorFour;
				}	
			}		
		}
	}
.c-home-events_title {
	background: $colorSev;
	padding: 24px 28px 24px 80px;
	margin-bottom: 20px;
	position: relative;
	&:before {
position: absolute;
    content: "";
    height: 32px;
    width: 32px;
    left: 24px;
    background: url(../images/icons/st-stanislas-de-kostka_icons_calendar.svg);
    background-size: cover !important;
    margin-top: -5px;
	}
	p {
		font-size: 20px;
		font-weight: 700;
		letter-spacing: 0.44px;
		line-height: 24px;
		text-transform: uppercase;
		color: #FFF;
		margin-bottom: 0;
	}
}


&_date {
	font-size: 16px;
	letter-spacing: 0.44px;
	line-height: 22px;
	font-weight: 600;
	text-transform: uppercase;
}
&_calendar {
	margin-bottom: 8px;
}
.c-events_title {
	font-size: 14px;
}
p {
	color: #484848;
}
}




.c-event_single_ul {
	position: relative;
	margin-left: 48px;
	@include mixingBottom();	
	&:before {
		position: absolute;
		content: "";
		width: 2px;
		height: 100%;
		background: #AE9670;
	}
	li {
		list-style-type: none;
		padding-left: 40px;
		margin-bottom: 24px;
		label {
			display: block;
		}
	}
}

.c-mg-btm {
	@include mixingBottom();	
}