/* ==========================================================================
   #BUTTONS
   ========================================================================== */

/**
 * This is an example component. Extend inuitcss by building your own components
 * that make up your UI. Component classes are prefixed with a `c-`.
 */

/**
 * 1. Allow us to style box model properties.
 * 2. Line different sized buttons up a little nicer.
 * 3. Make buttons inherit font styles (often necessary when styling `input`s as
 *    buttons).
 * 4. Reset/normalize some styles.
 * 5. Force all button-styled elements to appear clickable.
 */

.c-btn {
  display: inline-block; /* [1] */
  vertical-align: middle; /* [2] */
  font: inherit; /* [3] */
  text-align: center; /* [4] */
  margin: 0; /* [4] */
  cursor: pointer; /* [5] */
  padding: 9px 20px;
  transition: $global-transition;
}





/* Style variants
   ========================================================================== */

.c-btn--primary {
  background-color: transparent;

  &,
  &:hover,
  &:active,
  &:focus {
  border: 3px solid $colorSix !important;
  color: $colorSix;
font-size: 18px;
line-height: 28px;
letter-spacing: 1px;
font-weight: 700;
text-transform: uppercase;
text-decoration: none;
  }

  &:hover,
  &:focus {
    background-color: $colorSix;
    color: #FFF;
  }

}


.c-btn--secondary {
  background-color: transparent;
      width: 100%;
border: 4px solid #fff;
font-size: 24px;
letter-spacing: 4px;
line-height: 38px;
max-width: 482px;
    padding: 37px 22px;
    min-height: 158px;
    font-weight: 700;
    position: relative;
    color: #FFF;
    text-decoration: none;
    padding-left: 178px;
text-transform: uppercase;
&.-color-one {
  color: #AE9670;
  border: 4px solid #AE9670;
}
&:hover {
  background-color: #E6E5DB;
}
&:before {
  position: absolute;
  content: "";
  height: 158px;
  background-size: cover !important;
  width: 158px;
  top: -4px;
  left: -4px;
  background-repeat: no-repeat;
}
&.-news {
  &:before {
      background: url('../images/icons/form-zero.svg');
  }
}
&.-events {
  &:before {
      background: url('../images/icons/form-one.svg');
  }
}
&.-info-work {
  &:before {
      background: url('../images/icons/form-two.svg');
  }  
}
&.-centre {
  &:before {
      background: url('../images/icons/form-three.svg');
  }  
}
&:after {
  position: absolute;
  content: "";
  left: 150px;
  height: 100%;
  width: 4px;  
top: 0;
  background: #FFF;}
&.-color-one {
 &:after {
 background: #AE9670;
}  }
&.-absolute {
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
}

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    color: $colorSix;
  }
}


.c-btn--tertiary {
  border: 3px solid $colorSix !important;
  color: $colorSix;
font-size: 14px;
line-height: 18px;
letter-spacing: 1px;
font-weight: 700;
text-transform: uppercase;
  &:hover,
  &:focus {
    color: #3774a2;
  }

}

  .c-btn--fourth {
    color: #fff;
background: #E6E5DB;
width: 100%;
padding: 21px 0;
font-size: 16px;
letter-spacing: 0.44px;
line-height: 28px;
color: #121212;
text-transform: uppercase;
font-weight: 700;
text-decoration: none;
&:hover {
  background: #172E30;;
  color: #FFF;
  }
}



/* Size variants
   ========================================================================== */

.c-btn--small {
  padding: $inuit-global-spacing-unit-tiny $inuit-global-spacing-unit-small;
}

.c-btn--large {
  padding: $inuit-global-spacing-unit $inuit-global-spacing-unit-large;
}





/* Ghost buttons
   ========================================================================== */

/**
 * Ghost buttons have see-through backgrounds and are bordered.
 */

$btn-ghost-border-width: 2px;

.c-btn--ghost {
  border: $btn-ghost-border-width solid currentColor;
  padding: ($inuit-global-spacing-unit-small - $btn-ghost-border-width) ($inuit-global-spacing-unit - $btn-ghost-border-width);

  &,
  &:hover,
  &:active,
  &:focus {
    background: none;
  }

  &.c-btn--small {
    padding: ($inuit-global-spacing-unit-tiny - $btn-ghost-border-width) ($inuit-global-spacing-unit-small - $btn-ghost-border-width);
  }

  &.c-btn--large {
    padding: ($inuit-global-spacing-unit - $btn-ghost-border-width) ($inuit-global-spacing-unit-large - $btn-ghost-border-width);
  }

  &.c-btn--primary {
    color: #4a8ec2;

    &:hover,
    &:focus {
      color: #3774a2;
    }

  }

  &.c-btn--secondary {
    color: #2f4054;

    &:hover,
    &:focus {
      color: #1d2733;
    }

  }

  &.c-btn--tertiary {
    color: #fff;

    &:hover,
    &:focus {
      color: #fff;
    }

  }

}
