header {
	margin: 20px;
	position: relative;

	@media (max-width: 720px) {
		&:before {
			display: none;
		}
	}
	&:before {
		position: fixed;
		content: '';
		width: 100vw;
		height: 20px;
		background: $colorThree;
		top: 0;
		z-index: 1234;
		left: 0;
	}
}


/* ==========================================================================
   #NAVIGATION
========================================================================== */

	/* ======================================================================
   		#MENU / UTILITY
	====================================================================== */

		.c-menu_utility {
			background: $colorOne;
			position: relative;
			z-index: 9;
			ul {
				text-align: right;
				margin-bottom: 0;
				li {
					display: inline-block;
					margin-left: 24px;
					padding: 8px 0;
					&:first-child {
						margin-left: 0;
					}
					a {
						color: $colorFour;
						text-decoration: none;
					}
				}
			}
		}

	/* ======================================================================
   		#MENU / MAIN
	====================================================================== */
.c-menu_main {
	border-bottom: 1px solid $colorOne;
}
		.c-nav {
			background: $colorThree;
			display: flex;
			z-index: 9;
			.c-item {
			    flex: 0 auto;
			    display: flex;
			    align-items: center;
			    &.-logo {
			    	background: $colorThree;
			    	margin-right: auto;
					margin-bottom: -75px;
					padding: 20px 56px;
					position: relative;
					z-index: 120;
					border-bottom: 1px solid $colorOne;
					&:before {
						position: absolute;
						content: '';
						height: 74px;
						bottom: 0;
						width: 1px;
						background: $colorOne;
						left: 0;
					}
					&:after {
						position: absolute;
						content: '';
						height: 74px;
						bottom: 0;
						width: 1px;
						background: $colorOne;
						right: 0;
					}					
			    	img {
						min-width: 163px;
			    	}
			    }
			    &.-menu { 
					position: relative;	
					
			    }				
			}
			ul {
				margin-bottom: 0;
				li {
					display: inline-block;
					padding-left: 40px;
					margin-right: -4px;
					&:first-child {
						margin-left: 0;
					}	
					.c-submenu {
						position: absolute;
						width: 100%;
						left: 0;

						padding-top: 32px;
						z-index: -1;
						transition:         top 0s 0.25s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.3s 0s cubic-bezier(0.645, 0.045, 0.355, 1), z-index 0s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);					
						opacity: 0;
						top: -100vh;
						.wrap {
							background:$colorThree;
							height: auto;
							padding: 40px 0;
							padding-bottom: 134px;							
						}
						&:before {
							position: absolute;
							content: "";
							height: calc(100% - 32px);
							width: 80vw;
							left: -80vw;
							top: 32px;
							background: $colorThree;
						}
						&:after {
							position: absolute;
							content: "";
							height: calc(100% - 32px);
							width: 80vw;
							right: -80vw;
							top: 32px;
							background: $colorThree;
						}						
						ul {
							margin-left: 0;
							li {
								display: block;
								margin-left: 0;
								.c-depth-3 {
									display: none;
									right: 0;
									top: 66px;
									    width: 50%;
									    float: right;
									    position: absolute;
								.-depth-3 {
									margin-left: 0;
									li {
										width: 100%;
										padding: 0;
										a {
											font-size: 18px;
											text-decoration: none;
											color: $colorFour;
										}
									}
								}
								}
							}
						}
					}				
				}
			}
		}

		.c-nav ul li .c-submenu.-active {
			opacity: 1;
			top: 50px;
			z-index: 8;
			transition: top 0s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.3s 0s cubic-bezier(0.645, 0.045, 0.355, 1), z-index 0s cubic-bezier(0.645, 0.045, 0.355, 1);																
		}	

		.js-menu-active {
			overflow: hidden;
		}

		.c-submenu_title {
			display: inline-block;
			&:hover {
				cursor:pointer;
			}
		}
		.c-menu_main_item:hover {
			cursor: pointer;
		}


.c-menu {
	@media (max-width: 720px) {
		width: 40px;
		height: 40px;
		top: 5px;
		right: 20px;
		background: none;
	}
	position: fixed;
	top: 20px;
	right: 20px;
	width: 100px;
	display: block;
	height: 100px;
	background: $colorOne;
	z-index: 44;
	&:hover {
		cursor: pointer;
	}
	&:before,
	&:after {
		@media (max-width: 720px) {
			width: 20px;
			margin-left: -10px;
		}
		position: absolute;
		content: "";
		width: 40px;
		height: 2px;
		background: #000000;
		top: 50%;
		left: 50%;
		margin-left: -20px;
		transition: all 0.3s linear;
	}
	&:before {
		@media (max-width: 720px) {
			margin-top: -5px;
		}
		margin-top: -10px;
		transform: rotate(0deg);
	}	
	&:after {
		@media (max-width: 720px) {
			margin-top: 5px;
		}
		margin-top: 10px;
		transform: rotate(0deg);
	}		
}	

.-js-menu-active	{
	.c-menu {
	&:before {
		margin-top: 0;
		transform: rotate(45deg);
	}	
	&:after {
		margin-top: 0;
		transform: rotate(-45deg);
	}
}

}
.-js-menu-active {
.c-header_menu {
	top: 20px;
	}	
}


.c-header_menu {

	/* arrow menu */
	.c-arrow-menu {

	}
	/* arrow menu */
	.c-arrow-menu_active {
	    .c-arrow-menu {
	    	 transition: transform 0.15s linear;
	        -webkit-transform: rotate(90deg);
	        -moz-transform: rotate(90deg);
	        -o-transform: rotate(90deg);
	        -ms-transform: rotate(90deg);
	        transform: rotate(90deg);

	    }
	}

	@media (max-width: 720px) {
		//position: absolute;
	    overflow-y: scroll;
	    overflow-x: hidden;
	    height: inherit;
	    min-height:  calc(100vh - 40px;
	    bottom: calc(100vh - 40px);
	}

	position: fixed;
	width: calc(100% - 40px);
	margin-left: 20px;
	background: #172E30;
	height: calc(100vh - 40px;
	top: -120vh;
	transition: top 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	z-index: 12;
		.c-depth-zero {
			> li {
				@media (max-width: 840px){
					margin-bottom: 24px !important;
				}
				margin-bottom: 0 !important;
				a {
				@media (max-width: 840px) {
					font-size: 17px;
					text-transform: none;
					letter-spacing: 0.33px;
					line-height: 23px;
					font-weight: 400;
				}
				color: #FFF;
				list-style-type: none;
				font-size: 20px;
				letter-spacing: 1.43px;
				font-weight: 700;
				line-height: 52px;
				text-transform: uppercase;
		}
		}
	}	
		.c-menu_nav {
				@media (max-width: 840px) {
					margin-top: 108px;
				}
				margin-top: 160px;
	ul {
		@media (max-width: 840px) {
			width: 100%;
		}
		list-style-type: none;
		width: 33%;
		margin-left: 0;
		position: relative;
		> li {
			width: 100%;
			margin-bottom: 24px;
			a {
				color: #FFF;
				text-decoration: none;
				&:hover {

				}
			}
		}


			.c-depth-one {
				@media (max-width: 840px) {
					left: 5%;
					position: relative;
					padding-top: 16px;

					&:before {
					 	display: none;
					 }
					 &:after {
					 	// background-image:  url(../../assets/images/icons/ssk-arrow-blck.svg);
					  //   width: 26px;
					  //   content: "";
					  //   position: absolute;
					  //   left: 136px;
					  //   top: -22px;
					  //   height: 20px;
					  //   background-size: cover;
					 }
				}

				margin-top: 0;
				padding-top: 48px;
			    left: 107%;
			    position: absolute;
			    top: 0;
			    width: 100%;
			    display: none;
			    &:before {
			    	position: absolute;
			    	content: "";
			    	width: 98px;
			    	height: 1px;
			    	background: #FFF;
			    	top: 18px;
			    	left: 0;
			    }			    
			    li {
			    	margin-bottom: 18px;
			    	line-height:24px;
			    	a {
					    @media (max-width: 840px) {
							font-weight: 400;
							letter-spacing: 0.5px;
							font-size: 15px;
						}

			    		font-size: 14px;
			    		letter-spacing:2px;
			    		line-height: 22px;
			    		font-weight:700;
			    	}
			    }
			}
			.c-depth-two {
				@media (max-width: 840px) {
					left: 10%;
					position: relative;
					padding-top: 16px;

					 &:before {
					 	display: none;
					 }
					 &:after {
					 	// background-image:  url(../../assets/images/icons/ssk-arrow-blck.svg);
					  //   width: 26px;
					  //   content: "";
					  //   position: absolute;
					  //   left: 136px;
					  //   top: -22px;
					  //   height: 20px;
					  //   background-size: cover;
					 }
				}
				margin-top: 0;
			    left: 100%;
			    position: absolute;
			    top: 0;
			    width: 100%;
			    padding-top: 48px;
			    display: none;
			    &:before {
			    	position: absolute;
			    	content: "";
			    	width: 98px;
			    	height: 1px;
			    	background: #FFF;
			    	top: 18px;
			    	left: 0;
			    }
			    li {
			    	margin-bottom: 16px;
			    	width: 100%;
			    	a {
			    		@media (max-width: 840px) {
			    			font-size: 14px;
			    		}
			    		font-weight: 400;
			    		line-height: 22px;
			    	}
			    }
			}			
		}		
	}
	
}



.homePage {

.c-header_logo-home {
	display: none;
	margin-top: 0;
	left: 0;
	position: absolute;
	height: 100px;
	z-index: 10;
	@media (min-width: 721px) and (max-width: 1300px) {
		display: block;
		
		
	}
}
.c-header_logo {

	@media (max-width: 720px) {
		display: none;
		margin-top: 0;
	}
	


	    margin-top: -40px;
		max-width: 100%;
		padding: 0;
		left: 0;
		position: absolute;
		height: auto;
	
}	
}


.c-header_logo {
	@media (max-width: 720px) {
		display: none;
	}
	@media (min-width: 1700px) {
		position: fixed;

	

	}

    z-index: 13;
    padding: 16px;
    background: #172E30;
    max-width: 150px;
    position: absolute;
    height: 100px;
  
}


.c-home_link {
	z-index: 2;
	max-width: 100%;
	padding: 0;
	top: 10vw;
    position: absolute;	
    left: -20px;
	transition: left 0.2s 0.2s linear;
	@media (max-width: 1300px) {
		display: none;
	}
	@media (min-width: 1300px) {
		transform: scale(0.8) !important;
		left: -54px;
	}
	@media (min-width: 1600px) {
		transform: scale(0.9) !important;
		left: -37px;
	}
	@media (min-width: 1700px) {
		transform: none !important;
	}
	    
}

.-js-menu-active {
.c-home_link {
    left: -440px;
    transition: left 0.2s linear;
}

}

.c-home_menu {
	width: 340px;

	background: #E6E5DB;
	padding-top: 120px;
	ul {
		list-style-type: none;
		margin-left: 60px;
		padding: 40px 40px 40px 0;
		li {
			padding-bottom: 24px;
			margin-bottom: 24px;
			border-bottom: 1px solid #000;
			overflow: hidden;
			a {
				font-size: 14px;
				letter-spacing: 2px;
				line-height: 20px;
				color: #2a2a2a;
				text-decoration: none;
				text-transform: uppercase;
    			display: block;
    			position: relative;
    			z-index: 3;				
			}
		}
	}
}


.-js-gallery-active {
	.c-menu {

		display: none;
	}
	.c-header_logo-home {

		display: none !important;
	}
}


.c-mobile_menu-header {
	@media (max-width: 720px) {
		display: block;
	}
	display: none;
	position: fixed;
	top: 0;
	height: 60px;
	width: 100%;
	background-color: #FFF;
	z-index: 43;
	-webkit-box-shadow: 0px 20px 20px -12px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 20px 20px -12px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 20px 20px -12px rgba(0, 0, 0, 0.5);
	margin-left: -20px;

	.c-header_logo {
		left: 20px;
		top: 5px;
		position: fixed;
	    width: 56px;
	    display: block;
	    padding: 5px;
	    height: auto;

	}


}