/* ==========================================================================
   #BANNER
========================================================================== */

	.c-banner {
		
		background-size: cover !important;
		@media (max-width: 600px) {
			background-position: center !important;
		}
		@media (max-width: 720px) {
			margin-top: 74px;
		}
		@include mixingBottom();
		&.-home {
			height: auto;
			margin-top: -6px;
			
			@media (max-width: 720px) {
				    margin-top: 74px;
			}
			
			.c-banner_wrap {
				
				position: relative;
			
			}
			.c-banner_content {
				position: absolute;
				content: "";
				top: 50%;
				left: 0;
				transform: translate(0,-50%);
				width: 100%;
				.c-homepage-title {
    				text-align: center;
    				margin: 0 auto;
				}
			}
		}
		&.-page {
			@media (max-width: 600px) {
				height: $bannerPageMobile;
			}
			height: $bannerPageDesktop;
			.c-banner_wrap {
				@media (max-width: 600px) {
					height: $bannerPageMobile;
				}
				position: relative;
				height: $bannerPageDesktop;
			}
			.c-banner_content {
				position: absolute;
				content: "";
				top: 50%;
				left: 0;
				transform: translate(0,-50%);

			}
		}		
	}

	.homePage {
.c-banner {
margin-bottom: 20px;
}
}