{% extends "_layout/site" %}

    {% block content %}
		
		
<div class="o-wrapper  {% if event.calendar.handle == "collectionJunk" %}c-mg-btm{% endif %}">
{{event.calendrierContenu}}
	{% if event.calendar.handle != "collectionJunk" %}
<ul class="c-event_single_ul">
			<li><label>Date</label>{{ event.startDateLocalized|date("j F Y") }}</li>
			<li><label>Lieu</label>{{event.calendrierLieu}}</li>
			<li><label>Coût</label>{{event.calendrierCout}}</li>
			<li><label>Pour plus de renseignements</label>{{info.defaultMessage}}</li>

</ul>
{% endif %}
</div>
    {% endblock %}            