.c-footer_logo {
	margin-bottom: 32px;
	max-width: 166px;
}




.c-footer_info {
	a {
		@media (max-width: 420px){
	        font-size: 13px;
	    }
		font-size: 14px;
		line-height: 27px;
		letter-spacing: 0.34px;
	}
	img {
		width: 100%;
		max-width: 198px;
		@media (max-width: 420px){
	        max-width: 160px;
	    }
	}


}

.c-footer_menu {
	@media (max-width: 1000px){
        padding-left: 0 !important;
    }

	padding-left: 96px;
	@media (max-width: 420px){
	    padding-left: auto;
	}
	a {
		color: $colorFour;
		text-decoration: none;
	}
}

.c-footer_newsletter {
	position: relative;
	padding: 0 20px;
	&_wrap {
		text-align: center;
		background: #E6E5DB;	
		padding: 72px 0 56px;
		p {
			font-size: 16px;
			letter-spacing: 0.56px;
			line-height: 28px;
			margin-bottom: 56px;
			padding: 0 15px;
		}
		h5 {
			padding: 0 15px;
		}
		input[type="text"] {
			background: #FFF;
			max-width: 442px;
			margin-right: 16px;

			@media (max-width: 720px){
		    	width: calc(100% - 30px);
		    	margin-right: 0;
		    }
		}
	}
}

.c-footer_wapper {

	@media (max-width: 719px){
        text-align: center;
        margin-left: 0;
    }
    @media (max-width: 420px){
        margin-left: auto;
    }

	margin-bottom: 40px;

}

.c-footer {
	margin: 20px;
	background: $colorSev;
	padding-top: 108px;
	h5{
		color: #FFF;
	}
	a {
		color: #FFF;
		text-decoration: #FFF;
	}
	.c-form {
		margin-bottom: 0;
	}
	.c-copyright {
		text-align: center;
		padding: 20px 0;
		background: #000;
		color: #FFF;
	}
.c-btn {
	float: right;
}	
.c-form input[type="text"] {
	margin: 0;
	width: 100%;
	margin-bottom: 24px;
	background: $colorThree;
}
&:after  {
    position: fixed;
    content: '';
    width: 100vw;
    height: 20px;
    background: #FFFFFF;
    bottom: 0;
    z-index: 1234;
}
}