/* ==========================================================================
   #HEADINGS
   ========================================================================== */

/**
 * Simple default styles for headings 1 through 6. Anything more opinionated
 * than simple font-size changes should likely be applied via classes (see:
 * http://csswizardry.com/2016/02/managing-typography-on-large-apps/).
 */

// We have all of our heading font sizes defined here. Passing these pixel
// values into our `inuit-font-size()` mixin will generate a rem-based
// `font-size` with a pixel fallback, as well as generating a `line-height` that
// will sit on our baseline grid.

$inuit-font-size-h1:  36px !default;
$inuit-font-size-h2:  28px !default;
$inuit-font-size-h3:  24px !default;
$inuit-font-size-h4:  20px !default;
$inuit-font-size-h5:  18px !default;
$inuit-font-size-h6:  16px !default;

h1,
.c-homepage-title {
	  	@media (min-width: 320px){
	       font-size: 35px;
	    } 
	    @media (min-width: 400px){
	       font-size: 38px;
	    }
	   @media (min-width: 480px){
	       font-size: 48px;
	    }
	    @media (min-width: 600px){
	       font-size: 53px;
	    }
	    @media (min-width: 720px){
	       font-size: 58px;
	    }
	    @media (min-width: 840px){
	       font-size: 63px;
	    }
	    @media (min-width: 960px){
	       font-size: 68px;
	    }
	    @media (min-width: 1024px){
	       font-size: 73px
	    }
	    @media (min-width: 1280px){
	       font-size: 78px;
	    }

    /* font-size: 4.000em; */
    line-height: 72px;
    line-height: 1.125em;
    letter-spacing: 1.24px;
    letter-spacing: 0.019em;
    color: #FFFFFF;
    max-width: 1008px;
    font-weight: 700;
    text-shadow: 2px 3px 6px black;	
  	.span-zero {
  		letter-spacing: 2px;
  		line-height: 51px;
  		text-align: center;

	    @media (min-width: 320px){
	       font-size: 26px;
	    } 
	    @media (min-width: 400px){
	       font-size: 27px;
	    }
	   @media (min-width: 480px){
	       font-size: 29px;
	    }
	    @media (min-width: 600px){
	       font-size: 30px;
	    }
	    @media (min-width: 720px){
	       font-size: 31px;
	    }
	    @media (min-width: 840px){
	       font-size: 32px;
	    }
	    @media (min-width: 960px){
	       font-size: 34px;
	    }
	    @media (min-width: 1024px){
	       font-size: 35px;
	    }
	    @media (min-width: 1280px){
	        font-size: 36px;
	    }

  	}
  	.span-one {
  		font-size: 76px;
  		line-height: 109px;
  		text-align: center;
  		font-weight: 900;
  		text-transform: uppercase;

  		@media (min-width: 320px){
	       font-size: 30px;
	       letter-spacing: 2px;
	    } 
	    @media (min-width: 400px){
	       font-size: 36px;
	       letter-spacing: 2px;
	    }
	   @media (min-width: 480px){
	       font-size: 40px;
	    }
	    @media (min-width: 600px){
	       font-size: 46px;
	    }
	    @media (min-width: 720px){
	       font-size: 52px;
	    }
	    @media (min-width: 840px){
	       font-size: 58px;
	    }
	    @media (min-width: 960px){
	       font-size: 64px;
	    }
	    @media (min-width: 1024px){
	       font-size: 70px
	    }
	    @media (min-width: 1280px){
	        font-size: 76px;
	        letter-spacing: 6px;
	    }
  	}  	
}

h2 {
	@media (min-width: 320px){
       font-size: 30px;
       margin-bottom: 44px;
    } 
    @media (min-width: 400px){
       font-size: 32px;
       margin-bottom: 44px;
    }
   @media (min-width: 480px){
       font-size: 34px;
       margin-bottom: 44px;
    }
    @media (min-width: 600px){
       font-size: 36px;
    }
    @media (min-width: 720px){
       font-size: 38px;
    }
    @media (min-width: 840px){
       font-size: 40px;
    }
    @media (min-width: 960px){
       font-size: 42px;
    }
    @media (min-width: 1024px){
       font-size: 44px;
    }
    @media (min-width: 1280px){
        font-size: 46px;
        margin-bottom: 88px;
    }

	color: $colorFour;
	font-weight: 600;
	line-height: 48px;
	letter-spacing: 0.89px;
	position: relative;
}

h3,
.c-submenu_title {
	font-size: 28px;
	line-height: 34px;
	letter-spacing: 0.69px;
	color: $colorSev;
	position: relative;
	margin-bottom: 24px;
}

.c-submenu_title {
	margin-bottom: 24px;
	color: $colorFour;
	&:before {
		display: none;
	}
}

.c-list h3 {


    @media (min-width: 320px){
       font-size: 28px; 
       line-height: 36px;
    } 
    @media (min-width: 400px){
       font-size: 30px;
        line-height: 36px;
    }
   @media (min-width: 480px){
       font-size: 30px;
       line-height: 36px;
    }
    @media (min-width: 600px){
       font-size: 34px;
    }
    @media (min-width: 720px){
       font-size: 35px;
    }
    @media (min-width: 840px){
       font-size: 36px;
    }
    @media (min-width: 960px){
       font-size: 37px;
    }
    @media (min-width: 1024px){
       font-size: 38px;
    }
    @media (min-width: 1280px){
        font-size: 38px;
    }
    @media (min-width: 1280px){
        font-size: 41px;
    }

	font-size: 41px;
	line-height: 78px;
	letter-spacing: 0.79px;
	color: $colorSev;
	margin-bottom: 40px;
	font-weight: 400;
	&:before {
		display:none;
	}

}



h4 {
  @include inuit-font-size($inuit-font-size-h4);
}

.c-list h4,
.c-list form h3 {
	font-size: 28px;
	line-height: 34px;
	letter-spacing: 0.69px;
	font-weight: 400;

	@media (min-width: 320px){
       font-size: 22px;
    } 
    @media (min-width: 400px){
       font-size: 22px;
    }
   @media (min-width: 480px){
       font-size: 23px;
    }
    @media (min-width: 600px){
       font-size: 24px;
    }
    @media (min-width: 720px){
       font-size: 25px;
    }
    @media (min-width: 840px){
       font-size: 26px;
    }
    @media (min-width: 960px){
       font-size: 27px;
    }
    @media (min-width: 1024px){
       font-size: 28px;
    }
    @media (min-width: 1280px){
        font-size: 28px;
    }
}
.c-list form h3 {
	color: $colorSev;
}
h5 {

	@media (min-width: 320px){
       font-size: 16px;
       line-height: 28px;
    } 
    @media (min-width: 400px){
       font-size: 18px;
       line-height: 28px;
    }
   @media (min-width: 480px){
       font-size: 22px;
       line-height: 30px;
    }
    @media (min-width: 600px){
       font-size: 24px;
    }
    @media (min-width: 720px){
       font-size: 25px;
    }
    @media (min-width: 840px){
       font-size: 26px;
    }
    @media (min-width: 960px){
       font-size: 27px;
    }
    @media (min-width: 1024px){
       font-size: 28px;
    }
    @media (min-width: 1280px){
        font-size: 28px;
    }
  
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 2px;
  font-weight: 600;
}

h6 {
}


.c-title-medium {
	font-weight: 600;
	margin-bottom: 16px;
}




html,body  {
	overflow-x: hidden;
}