/* ==========================================================================
   #PAGE
   ========================================================================== */

/**
 * Simple page-level setup.
 *
 * 1. Set the default `font-size` and `line-height` for the entire project,
 *    sourced from our default variables. The `font-size` is calculated to exist
 *    in ems, the `line-height` is calculated to exist unitlessly.
 * 2. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 3. Ensure the page always fills at least the entire height of the viewport.
 */

html {
  font-size: ($inuit-global-font-size / 16px) * 1em; /* [1] */
  line-height: $inuit-global-line-height / $inuit-global-font-size; /* [1] */
  overflow-y: scroll; /* [2] */
  min-height: 100%; /* [3] */
  font-family: 'Poppins', sans-serif;
}


// COLOR 

	$colorZero 	: #22772D;
	$colorOne 	: #E6E5DB;
	$colorThree	: #FFFFFF;
	$colorFour 	: #484848;
	$colorFive 	: #f9f9f9;
	$colorSix 	: #AE9670;
	$colorSev 	: #172E30;

// FONTS 


// HEIGHTS

	$bannerHomePageDesktop : 1400px;
	$bannerHomePageMobile : 200px;
	$bannerPageDesktop : 412px;
	$bannerPageMobile : 340px;

// SPACINGS
	
	$spaceDesktop : 144px;
	$spaceMobile : 72px;	

// MIXINGS

	@mixin mixingBottom() {
		@media (min-width:320px) { 
			margin-bottom: $spaceMobile;
		}
		@media (min-width:1024px) { 
			margin-bottom: $spaceDesktop;
		}
	}	
	// @mixin mixingTop() {
	// 	@media (min-width:20em) { 
	// 		margin-top: $spaceDesktop;
	// 	}
	// }		


.c-link {
	letter-spacing: 1.02px;
	text-decoration: none;
	color: $colorFour;
}	

main a,
.c-footer_info a {
	color: $colorFour;
}


/*------------------------------------*\
    $RESPONSIVE
\*------------------------------------*/
/**
 * Responsiveness?
 */
$responsive:        true!default;

/**
 * Responsiveness for widescreen/high resolution desktop monitors and beyond?
 * Note: `$responsive` variable above must be set to true before enabling this.
 */
$responsive-extra:  false!default;

/**
 * Responsive push and pull produce a LOT of code, only turn them on if you
 * definitely need them.
 */
$push:              false!default;
/**
 * Note: `$push` variable above must be set to true before enabling these.
 */

$lap-push:          false!default;
$lap-and-up-push:   false!default;
$portable-push:     false!default;
$desk-push:         false!default;

$pull:              false!default;
/**
 * Note: `$pull` variable above must be set to true before enabling these.
 */
$lap-pull:          false!default;
$lap-and-up-pull:   false!default;
$portable-pull:     false!default;
$desk-pull:         false!default;

/**
 * Tell inuit.css when breakpoints start.
 */

$portrait-small-handset:         320px!default;
$portrait-large-handset:        480px!default;
$portrait-small-tablet:        600px!default;
$portrait-medium-tablet:        720px!default;
$portrait-large-tablet:        840px!default;
$landscape-small-tablet:        960px!default;
$landscape-medium-tablet:        1024px!default;
$landscape-large-tablet:        1280px!default;
$window-large:     			1440px!default;