<div class="c-applicant">

	<h3>Demandeur</h3>
	{% if type == 0 %}
	<div>
		<h5>Personne</h5>		
    	<div class="c-radio-button_item">
      		<input id="applicant{{form}}0" name="message[Demandeur]" type="radio" checked="checked" value="0">
      		<label for="applicant{{form}}0" data-text="Propriétaire"></label>
      		<div class="c-radio-button_icon"></div>
    	</div>
    	<div class="c-radio-button_item">
      		<input id="applicant{{form}}1" name="message[Demandeur]" type="radio" value="1">
      		<label for="applicant{{form}}1" data-text="Tierce personne munie d'une procuration" ></label>
      		<div class="c-radio-button_icon"></div>
    	</div>
	</div>    
	{% endif %}
	<div class="o-layout">
		<input id="from-name" 	type="text" 	name="fromName" 			value="" placeholder="Nom" 			class="o-layout_item" required>
		<input id="address" 	type="text" 	name="message[adresse]" 	value="" placeholder="Adresse" 		class="o-layout_item" required>	
		<input id="Ville" 		type="text" 	name="message[Ville]" 		value="" placeholder="Ville" 		class="o-layout_item" required>		
		<input id="address" 	type="text" 	name="message[Code postal]" value="" placeholder="Code postal" 	class="o-layout_item" required pattern="^(?!.*[DFIOQU])[A-VXY||a-vxy][0-9][A-Z||a-z]●?[0-9][A-Z||a-z][0-9]$">	
		<input id="phone" 		type="text" 	name="message[Téléphone]" 	value="" placeholder="Téléphone" 	class="o-layout_item" required pattern="^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$">
		<input id="from-email" 	type="email" 	name="fromEmail" 			value="" placeholder="Courriel" 	class="o-layout_item" required>
	</div>
</div>