        <h3>Demande</h3>  
        <h5>Veuillez cocher le ou les bacs demandés</h5>
        <div class="c-radio-button_item">
            <input id="construction{{form}}0" name="message[Types de bac]" type="radio" value="Recyclage (bac bleu)" required>
            <label for="construction{{form}}0" data-text="Recyclage (bac bleu)"></label>
            <div class="c-radio-button_icon"></div>
        </div>
        <div class="c-radio-button_item">
            <input id="construction{{form}}1" name="message[Types de bac]" type="radio" value="Déchets (bac noir)">
            <label for="construction{{form}}1" data-text="Déchets (bac noir)" ></label>
            <div class="c-radio-button_icon"></div>
        </div>
        <div class="c-radio-button_item">
            <input id="construction{{form}}2" name="message[Types de bac]" type="radio" value="Résidus alimentaires et verts (bac brun) ">
            <label for="construction{{form}}2" data-text="Résidus alimentaires et verts (bac brun) " ></label>
            <div class="c-radio-button_icon"></div>
        </div>
        <h5>Veuillez cocher selon la raison de la demande de réparation</h5>
        <div class="c-radio-button_item">
            <input id="construction{{form}}3" name="message[Demande de réparation]" type="radio" value="Couvercle brisé" required>
            <label for="construction{{form}}3" data-text="Couvercle brisé"></label>
            <div class="c-radio-button_icon"></div>
        </div>
        <div class="c-radio-button_item">
            <input id="construction{{form}}4" name="message[Demande de réparation]" type="radio" value="Roue(s) brisée(s)">
            <label for="construction{{form}}4" data-text="Roue(s) brisée(s)" ></label>
            <div class="c-radio-button_icon"></div>
        </div>
        <div class="c-radio-button_item">
            <input id="construction{{form}}5" name="message[Demande de réparation]" type="radio" value="Poignée brisée">
            <label for="construction{{form}}5" data-text="Poignée brisée" ></label>
            <div class="c-radio-button_icon"></div>
        </div>        
<textarea  class="u-1/1" rows="10" cols="40" data-parsley-required="true" id="message" name="message[Message]" required placeholder="Inscrire une brève description"></textarea>   
<div class="c-input_wrap">
<input type="text" 	name="message[Numéro de série du bac]" value="" placeholder="Numéro de série du bac à remplacer">
</div>     
        <input type="submit" class="c-btn c-btn--primary" value="Soumettre">