<div class="c-performing-construction">
	<h3>Exécutant des travaux de construction</h3>
	<div class="c-construction">
        {% if form != 8 %}
		<h5>Personne</h5>	    						
		<div class="c-radio-button_item">
  			<input id="construction{{form}}0" name="message[Exécutant des travaux de construction]" type="radio" value="0" required>
  			<label for="construction{{form}}0" data-text="Propriétaire"></label>
  			<div class="c-radio-button_icon"></div>
		</div>
		<div class="c-radio-button_item">
  			<input id="construction{{form}}1" name="message[Exécutant des travaux de construction]" type="radio" value="1">
  			<label for="construction{{form}}1" data-text="Autre personne que le propriétaire" ></label>
  			<div class="c-radio-button_icon"></div>
		</div>
        {% elseif form == 8 %}
        <h5>Installation</h5>                               
        <div class="c-radio-button_item">
            <input id="construction{{form}}0" name="message[Exécutant des travaux de construction]" type="radio" value="Nouvelle installation" required>
            <label for="construction{{form}}0" data-text="Nouvelle installation"></label>
            <div class="c-radio-button_icon"></div>
        </div>
        <div class="c-radio-button_item">
            <input id="construction{{form}}1" name="message[Exécutant des travaux de construction]" type="radio" value="Remplacement">
            <label for="construction{{form}}1" data-text="Remplacement" ></label>
            <div class="c-radio-button_icon"></div>
        </div>
        {% endif %}
        {% if form != 8 %}
            <div class="c-construction-work">
			<div class="o-layout">
    			<input class="c-construction-work_item o-layout_item" 	type="text" 	name="message[Exécutant Construction - Nom]" 			value="" placeholder="Nom Complet">
				<input class="c-construction-work_item o-layout_item" 	type="text" 	name="message[Exécutant Construction - Contact]" 		value="" placeholder="Contact">
				<input class="c-construction-work_item o-layout_item" 	type="text" 	name="message[Exécutant Construction - Adresse]" 		value="" placeholder="Adresse">
				<input class="c-construction-work_item o-layout_item" 	type="text" 	name="message[Exécutant Construction - Ville]" 			value="" placeholder="Ville">
				<input class="c-construction-work_item o-layout_item" 	type="text" 	name="message[Exécutant Construction - Code postal]" 	value="" placeholder="Code postal">
				<input class="c-construction-work_item o-layout_item" 	type="phone" 	name="message[Exécutant Construction - Téléphone]" 		value="" placeholder="Téléphone">
				<input class="c-construction-work_item o-layout_item" 	type="text" 	name="message[Exécutant Construction - # entreprise]" 	value="" placeholder="Numéro d'entreprise">
				<input class="c-construction-work_item o-layout_item" 	type="text" 	name="message[Exécutant Construction - RBQ]" 			value="" placeholder="Licence RBQ">
			</div>
		</div>
        {% elseif form == 8 %}     
            <div class="o-layout">
                <input class="c-construction-work_item o-layout_item"   type="text"     name="message[Exécutant Construction - Nom]"            value="" placeholder="Nom Complet" required>
                <input class="c-construction-work_item o-layout_item"   type="text"     name="message[Exécutant Construction - Contact]"        value="" placeholder="Contact" required>
                <input class="c-construction-work_item o-layout_item"   type="text"     name="message[Exécutant Construction - Adresse]"        value="" placeholder="Adresse" required>
                <input class="c-construction-work_item o-layout_item"   type="text"     name="message[Exécutant Construction - Ville]"          value="" placeholder="Ville" required>
                <input class="c-construction-work_item o-layout_item"   type="text"     name="message[Exécutant Construction - Code postal]"    value="" placeholder="Code postal" required>
                <input class="c-construction-work_item o-layout_item"   type="phone"    name="message[Exécutant Construction - Téléphone]"      value="" placeholder="Téléphone" required>
                <input class="c-construction-work_item o-layout_item"   type="text"     name="message[Exécutant Construction - # entreprise]"   value="" placeholder="Numéro d'entreprise" required>
                <input class="c-construction-work_item o-layout_item"   type="text"     name="message[Exécutant Construction - RBQ]"            value="" placeholder="Licence RBQ" required>        
            </div>
        {% endif %}           
	</div>
{#     {% if form != 8 %}
        <div class="o-layout">
            <input class="o-layout_item" type="text" name="message[Construction - Cout" value="" placeholder="Cout des travaux" required>
        </div>
    {% endif %}    #}  
</div>