<div class="c-form-confirmation">
	<h3>Documents requis pour compléter cette demande</h3>
	{{info.messageGlobal}}
	{{block.pageListBlockElementsProvided}}
	<div class="c-file_wrap">
		<div class="c-file -cv">
			<div class="c-file-upload -cv">
				<div class="c-file-select">
					<div class="c-file-select-name" id="noFile-cv">{{"Déposer le fichier ici  ou sélectionner un fichier"|t}}</div> 
					<div class="c-file-select-button" id="fileName-cv">
                       <div class="c-file_icon"></div>
					</div>
					<input type="file" name="attachment" id="chooseFile-cv" accept="application/pdf" data-parsley-group="block1" data-parsley-error-message="{{ 'This field is required' |translate }}" data-parsley-length="[1, 200]" data-parsley-validate-if-empty data-parsley-errors-container=".c-file.-cv" multiple>
				</div>
			</div>
		</div>
	</div>			
	<p>{{info.formTextOne}}</p>
	<p>{{info.formTextTwo}}</p>
	<div class="c-radio-button_item -confirmation">
		<input id="toggleButton{{form}}confirmation" name="message[confirmation]" type="radio" required>
		<label for="toggleButton{{form}}confirmation" data-text="J'atteste que les informations fournies sont exactes et je signe cette demande"></label>
		<div class="c-radio-button_icon"></div>
	</div>  
</div>			
<input type="submit" class="c-btn c-btn--primary" value="Soumettre">