<div class="o-layout">
	<h4>Titre du projet</h4>
	<input class="c-garage-work_item o-layout_item"	type="text"	name="message[Titre du projet]" 		value="" placeholder="Titre">
</div>

<div class="c-construction-pool">
	<h4>Date limite de réalisation souhaitée</h4>
	<div class="c-construction">
		<div class="o-layout">
			<input class="o-layout_item"	type="text"  	name="message[Construction - Date de début]" 			value=""	placeholder="Date" required id="datePicker-3">
			<input class="o-layout_item" type="text" name="message[Hauteur]" value="" placeholder="Justification de la date limite">
		</div>
	</div>
</div>


<div class="o-layout">
	<h4>Description sommaire du projet</h4>
	<textarea class="c-garage-work_item o-layout_item"	rows="5" type="textarea"	name="message[Description sommaire du projet]" 		value="" placeholder="Description"></textarea>
</div>
<div class="o-layout">
	<h4>Problématique et justifications des besoins</h4>
	<textarea class="c-garage-work_item o-layout_item"	rows="5" type="textarea"	name="message[Problématique et justifications des besoins]" 		value="" placeholder="Description"></textarea>
</div>
<div class="o-layout">
	<h4>Objectifs attendus</h4>
	<textarea class="c-garage-work_item o-layout_item"	rows="5" type="textarea"	name="message[Objectifs attendus]" 		value="" placeholder="Description"></textarea>
</div>
<div class="o-layout">
	<h4>Contraintes et limites du projet</h4>

	<textarea class="c-garage-work_item o-layout_item"	rows="5" type="textarea"	name="message[Contraintes et limites du projet]" 		value="" placeholder="Description"></textarea>
</div>


<input type="submit" class="c-btn c-btn--primary" value="Soumettre">