<div class="c-description">
	<h3>Description de l'intervention</h3>
	<h5>Présence d'un garage détaché sur la propriété</h5>
    <div class="c-radio-button_item">
      	<input id="toggleButton02" name="message[Présence d'un garage détachable]" type="radio" checked="checked" value="Oui">
      	<label for="toggleButton02" data-text="Oui"></label>
      	<div class="c-radio-button_icon"></div>
    </div>
    <div class="c-radio-button_item">
      	<input id="toggleButton03" name="message[Présence d'un garage détachable]" type="radio" value="Non">
      	<label for="toggleButton03" data-text="Non" ></label>
      	<div class="c-radio-button_icon"></div>
    </div>
	<div class="c-description_wrap">
		<div class="o-layout">
	    <input class="o-layout_item"	type="text"	name="message[Garage - Hauteur]" 						value="" placeholder="Hauteur" 							required>
    	<input class="o-layout_item"	type="text"	name="message[Garage - Dimensions]" 					value="" placeholder="Dimensions" 						required>
    	<input class="o-layout_item"	type="text"	name="message[Garage - Distance du bâtiment principal]" value="" placeholder="Distance du bâtiment principal" 	required>
    	<input class="o-layout_item"	type="text"	name="message[Garage - Distance avec le cabanon]" 		value="" placeholder="Distance avec le cabanon" 		required>
    	<input class="o-layout_item"	type="text"	name="message[Garage - Revêtement extérieur]" 			value="" placeholder="Revêtement extérieur" 			required>
    	<input class="o-layout_item"	type="text"	name="message[Garage - Revêtement de la toiture]" 		value="" placeholder="Revêtement de la toiture" 		required>
    	<input class="o-layout_item"	type="text"	name="message[Garage - Pente du toit]" 					value="" placeholder="Pente du toit" 					required>
    	<input class="o-layout_item"	type="text"	name="message[Garage - Hauteur de la porte du garage]" 	value="" placeholder="Hauteur de la porte du garage" 	required>
    	<input class="o-layout_item"	type="text"	name="message[Garage - Hauteur de la maison]" 			value="" placeholder="Hauteur de la maison" 			required>
    	<input class="o-layout_item"	type="text"	name="message[Garage - Fondations]" 					value="" placeholder="Fondations" 						required>
	</div>
	</div>
</div> 