<div class="c-description">
	<h3>Description de l'intervention</h3>
	<div class="c-description_wrap">
		<div class="o-layout">
		    <input class="o-layout_item"	type="text"	name="message[Cloture et haie - Hauteur avant]"					value="" placeholder="Hauteur avant"				required>
	    	<input class="o-layout_item"	type="text"	name="message[Cloture et haie - Hauteur avant arrière]"			value="" placeholder="Hauteur avant arrière"		required>
	    	<input class="o-layout_item"	type="text"	name="message[Cloture et haie - Longueur totale]"				value="" placeholder="Longueur totale"				required>
	    	<input class="o-layout_item"	type="text"	name="message[Cloture et haie - Distance de la ligne de lot]"	value="" placeholder="Distance de la ligne de lot"	required>
		</div>
	</div>     
</div> 