<div class="c-description">
	<h3>Description de l'intervention</h3>
	<div class="c-description_wrap">
		<h5>Présence d'un cabanon sur la propriété</h5>
	    <div class="c-radio-button_item">
	      	<input id="tPresenceofshed0" name="message[Présence d'un cabanon sur la propriété]" type="radio" value="Oui" required>
	      	<label for="tPresenceofshed0" data-text="Oui"></label>
	      	<div class="c-radio-button_icon"></div>
	    </div>
	    <div class="c-radio-button_item">
	      	<input id="tPresenceofshed1" name="message[Présence d'un cabanon sur la propriété]" type="radio" value="Non">
	      	<label for="tPresenceofshed1" data-text="Non" ></label>
	      	<div class="c-radio-button_icon"></div>
	    </div>
		<div class="c-garage-work">
			<div class="o-layout">
		    <input class="o-layout_item"	type="text"	name="message[Cabanon - Hauteur totale (du sol au point le plus haut du toit)]"	value="" placeholder="Hauteur totale (du sol au point le plus haut du toit)"	required>
	    	<input class="o-layout_item"	type="text"	name="message[Cabanon - Dimensions]" 											value="" placeholder="Dimensions" 												required>
	    	<input class="o-layout_item"	type="text"	name="message[Cabanon - Distance du bâtiment principal]" 						value="" placeholder="Distance du bâtiment principal" 							required>
	    	<input class="o-layout_item"	type="text"	name="message[Cabanon - Distance avec le garage]" 								value="" placeholder="Distance avec le garage" 									required>
	    	<input class="o-layout_item"	type="text"	name="message[Cabanon - Revêtement extérieur]" 									value="" placeholder="Revêtement extérieur" 									required>
	    	<input class="o-layout_item"	type="text"	name="message[Cabanon - Revêtement de la toiture]" 								value="" placeholder="Revêtement de la toiture" 								required>
	    	<input class="o-layout_item"	type="text"	name="message[Cabanon - Pente du toit]" 										value="" placeholder="Pente du toit" 											required>
	    	<input class="o-layout_item"	type="text"	name="message[Cabanon - Fondations]" 											value="" placeholder="Fondations" 												required>
		</div>
		</div>
	</div>     
</div> 