<div class="c-description">
	<h3>Description de l'intervention</h3>
	<div class="c-description_wrap">
		<textarea  class="u-1/1" rows="10" cols="40" data-parsley-required="true" id="message" name="message[Description des travaux à réaliser]" required placeholder="Description des travaux à réaliser"></textarea>    
		<div class="o-layout">
			<input class="o-layout_item"	type="text"  	name="message[Construction - Date de début" 			value=""	placeholder="Date de commencenment des travaux" required id="datePicker-2">	    	
			<input class="o-layout_item" type="text" name="message[Construction - Cout" value="" placeholder="Cout des travaux" required>
		</div>
	</div>     
</div> 