<h3>Exécutant des travaux pour les fondations</h3>
	<div>
		<input type="radio" name="message[Exécutant des travaux de la fondation]" value="0" checked="checked"> Propriétaire<br>
		<input type="radio" name="message[Exécutant des travaux de la fondation]" value="1">Autre personne que le propriétaire (Compléter les champs)
	</div>
	<div class="c-foundation-work">   
    <input class="c-foundation-work_item " 		type="text" 	name="message[Exécutant Fondation - Nom]"	 			value="" placeholder="Nom Complet">
    <input class="c-foundation-work_item " 		type="text" 	name="message[Exécutant Fondation - Contact]"	 		value="" placeholder="Contact">
    <input class="c-foundation-work_item " 		type="text" 	name="message[Exécutant Fondation - Adresse]"	 		value="" placeholder="Adresse">
    <input class="c-foundation-work_item " 		type="text" 	name="message[Exécutant Fondation - Ville]"	 			value="" placeholder="Ville">
    <input class="c-foundation-work_item" 		type="text" 	name="message[Exécutant Fondation - Code postal]"	 	value="" placeholder="Code postal">
    <input class="c-foundation-work_item " 		type="phone" 	name="message[Exécutant Fondation - Téléphone]"	 		value="" placeholder="Téléphone">
    <input class="c-foundation-work_item " 		type="text" 	name="message[Exécutant Fondation - # entreprise]"	 	value="" placeholder="Numéro d'entreprise">
    <input class="c-foundation-work_item " 		type="text" 	name="message[Exécutant Fondation - RBQ]"	 			value="" placeholder="Licence RBQ">
	</div>