<div class="c-location-work">
	<h3 class="c-location-work_title">Emplacement des travaux</h3>
	{% if form != 0 and form != 7  %}	
	<h5>Adresse</h5>	
	<div class="c-radio-button_item">
			<input id="location{{form}}0" name="message[Emplacement des travaux]" type="radio" checked="checked" value="0">
			<label for="location{{form}}0" data-text="Même adresse que le demandeur"></label>
			<div class="c-radio-button_icon"></div>
	</div>
	<div class="c-radio-button_item">
			<input id="location{{form}}1" name="message[Emplacement des travaux]" type="radio" value="1">
			<label for="location{{form}}1" data-text="Autre adresse que le demandeur" ></label>
			<div class="c-radio-button_icon"></div>
	</div>
		<div class="c-Location-work_input">
			<div class="o-layout">
				<input class="o-layout_item" type="text" name="message[Adresse des travaux]" value="" placeholder="Adresse">
				<input class="o-layout_item" type="text" name="message[Adresse des travaux - Téléphone]" value="" placeholder="Téléphone">
				<input class="o-layout_item" type="text" value="Saint-Stanislas-de-Kostka" placeholder="Ville">
			</div>
		</div>
	{% elseif form == 0 or form == 7 %}	
		<div class="o-layout">
			<input class="o-layout_item" type="text" name="message[Adresse des travaux]" value="" placeholder="Adresse (s'il y a lieu)">
			<input class="o-layout_item" type="text" name="message[Adresse des travaux - lot]" value="" placeholder="Lot" required>
			<input class="o-layout_item" type="text" value="Saint-Stanislas-de-Kostka" placeholder="Ville">
		</div>    	
	{% endif %}
</div>