        <h3>Réparation de luminaires</h3>  
        <h5>Déficience du luminaire (choisir une des options suivantes)</h5>
        <div class="c-radio-button_item">
            <input id="construction{{form}}0" name="message[Déficience du luminaire]" type="radio" value="Toujours allumé" required>
            <label for="construction{{form}}0" data-text="Toujours allumé"></label>
            <div class="c-radio-button_icon"></div>
        </div>
        <div class="c-radio-button_item">
            <input id="construction{{form}}1" name="message[Déficience du luminaire]" type="radio" value="Toujours éteint">
            <label for="construction{{form}}1" data-text="Toujours éteint" ></label>
            <div class="c-radio-button_icon"></div>
        </div>
        <div class="c-radio-button_item">
            <input id="construction{{form}}2" name="message[Déficience du luminaire]" type="radio" value="Fonctionnement intermittent" required>
            <label for="construction{{form}}2" data-text="Fonctionnement intermittent"></label>
            <div class="c-radio-button_icon"></div>
        </div>        
        <div class="c-input_wrap">
        <input type="text"  name="message[Numéro luminaire]" value="" placeholder="Numéro luminaire (plaquette verte)" required>
        </div> 
        <h3>Adresse du luminaire</h3>    
        <h5>Veuillez cocher selon la raison de la demande de réparation</h5>
        <div class="o-layout">
<input class="o-layout_item" type="text"  name="message[Nom de la rue]" value="" placeholder="Nom de la rue" required>
<input class="o-layout_item" type="text"  name="message[Numéro civique]" value="" placeholder="Numéro civique" required>
<input class="o-layout_item" type="text"  name="message[Autre (exemple : Coin Centrale et Principale)]" value="" placeholder="Autre (exemple : Coin Centrale et Principale)">
    </div>
        <input type="submit" class="c-btn c-btn--primary" value="Soumettre">