
<div class="c-construction-pool">
	<h4>Date de début du brûlage</h4>
	<div class="c-construction">
		<div class="o-layout">
			<input class="o-layout_item"	type="text"  	name="message[Construction - Date de début]" 			value=""	placeholder="Date" required id="datePicker-3">
		</div>
	</div>
</div>


	
	<div class="o-layout">
	    		    
		<div class="">

			<h5>Matières</h5>
	    	<div class="c-radio-button_item -third">
	      		<input id="matieres{{form}}01" name="message[Matières][]" type="checkbox" value="gazon">
	      		<label for="matieres{{form}}01" data-text="gazon"></label>
	      		<div class="c-radio-button_icon"></div>
	    	</div>
	    	<div class="c-radio-button_item -third">
	      		<input id="matieres{{form}}02" name="message[Matières][]" type="checkbox" value="herbe">
	      		<label for="matieres{{form}}02" data-text="herbe" ></label>
	      		<div class="c-radio-button_icon"></div>
	      	</div>
	      	<div class="c-radio-button_item -third">
	      		<input id="matieres{{form}}03" name="message[Matières][]" type="checkbox" value="branches">
	      		<label for="matieres{{form}}03" data-text="branches"></label>
	      		<div class="c-radio-button_icon"></div>
	    	</div>
	    	<div class="c-radio-button_item -third">
	      		<input id="matieres{{form}}04" name="message[Matières][]" type="checkbox" value="bois">
	      		<label for="matieres{{form}}04" data-text="bois" ></label>
	      		<div class="c-radio-button_icon"></div>
	      	</div>
	      	<div class="c-radio-button_item -third">
	      		<input id="matieres{{form}}05" name="message[Matières][]" type="checkbox" value="amas de résidus">
	      		<label for="matieres{{form}}05" data-text="amas de résidus"></label>
	      		<div class="c-radio-button_icon"></div>
	    	</div>

	      	<div class="c-radio-button_item -third">
	      		<input id="matieres{{form}}06" name="message[Matières][]" type="checkbox" value="feuilles">
	      		<label for="matieres{{form}}06" data-text="feuilles"></label>
	      		<div class="c-radio-button_icon"></div>
	    	</div>
	    	<div class="c-radio-button_item -third">
	      		<input id="matieres{{form}}07" name="message[Matières][]" type="checkbox" value="broussailles">
	      		<label for="matieres{{form}}07" data-text="broussailles" ></label>
	      		<div class="c-radio-button_icon"></div>
	      	</div>
	      	<div class="c-radio-button_item -third">
	      		<input id="matieres{{form}}08" name="message[Matières][]" type="checkbox" value="feu d'artifice">
	      		<label for="matieres{{form}}08" data-text="feu d'artifice"></label>
	      		<div class="c-radio-button_icon"></div>
	    	</div>
	    	<div class="c-radio-button_item -third">
	      		<input id="matieres{{form}}09" name="message[Matières][]" type="checkbox" value="abattis">
	      		<label for="matieres{{form}}09" data-text="abattis" ></label>
	      		<div class="c-radio-button_icon"></div>
	    	</div>	    
	    	<div class="c-radio-button_item -third">
	      		<input id="matieres{{form}}10" name="message[Matières][]" type="checkbox" value="autre">
	      		<label for="matieres{{form}}10" data-text="autre" ></label>
	      		<div class="c-radio-button_icon"></div>
	      	</div>
	      	<input class="c-input-autreMatiere o-layout_item"	type="text"	name="message[Matières][]" 			value="" placeholder="Autre">
  		    		
		</div>

		<h5>Disposition</h5>
	    <div class="c-radio-button_item -third">
	      	<input id="descriptionType{{form}}0" name="message[Type]" type="radio" value="En tas">
	      	<label for="descriptionType{{form}}0" data-text="En tas"></label>
	      	<div class="c-radio-button_icon"></div>
	    </div>
	    <div class="c-radio-button_item -third">
	      	<input id="descriptionType{{form}}1" name="message[Type]" type="radio" value="En rangée">
	      	<label for="descriptionType{{form}}1" data-text="En rangée" ></label>
	      	<div class="c-radio-button_icon"></div>
	    </div>
	    <div class="c-radio-button_item -third">
	      	<input id="descriptionType{{form}}2" name="message[Type]" type="radio" value="Extensif">
	      	<label for="descriptionType{{form}}2" data-text="Extensif" ></label>
	      	<div class="c-radio-button_icon"></div>
	    </div>


	</div>     





	
	<div class="o-layout">
			<h5>Précaution</h5>
		<div>
			
	    	<div class="c-radio-button_item">
	      		<input id="responsable{{form}}01" name="message[Precaution]" type="checkbox" value="Responsable présent sur les lieux en permanence">
	      		<label for="responsable{{form}}01" data-text="Responsable présent sur les lieux en permanence"></label>
	      		<div class="c-radio-button_icon"></div>
	    	</div>		
			
		</div>

	    		    
		<div class="">
			<h5>Équipements sur place:</h5>

	    	<div class="c-radio-button_item -third">
	      		<input id="equipements{{form}}00" name="message[equipement][]" type="checkbox" value="pelle">
	      		<label for="equipements{{form}}00" data-text="pelle" ></label>
	      		<div class="c-radio-button_icon"></div>
	      	</div>
	      	<div class="c-radio-button_item -third">
	      		<input id="equipements{{form}}01" name="message[equipement][]" type="checkbox" value="boyau">
	      		<label for="equipements{{form}}01" data-text="boyau"></label>
	      		<div class="c-radio-button_icon"></div>
	    	</div>
	    	<div class="c-radio-button_item -third">
	      		<input id="equipements{{form}}02" name="message[equipement][]" type="checkbox" value="chaudière à eau">
	      		<label for="equipements{{form}}02" data-text="chaudière à eau" ></label>
	      		<div class="c-radio-button_icon"></div>
	      	</div>
	      	<div class="c-radio-button_item -third">
	      		<input id="equipements{{form}}03" name="message[equipement][]" type="checkbox" value="extincteur">
	      		<label for="equipements{{form}}03" data-text="extincteur"></label>
	      		<div class="c-radio-button_icon"></div>
	    	</div>

	      	<div class="c-radio-button_item -third">
	      		<input id="equipements{{form}}04" name="message[equipement][]" type="checkbox" value="autre">
	      		<label for="equipements{{form}}04" data-text="autre"></label>
	      		<div class="c-radio-button_icon"></div>
	    	</div>
	    	<input class="c-input-autreEquipement o-layout_item"	type="text"	name="message[equipement][]" 			value="" placeholder="Autre">

  		    		
		</div>


		<div class="">
			<h5>Site</h5>

	    	<div class="c-radio-button_item -third">
	      		<input id="site{{form}}00" name="message[Sites]" type="checkbox" value="baril">
	      		<label for="site{{form}}00" data-text="baril" ></label>
	      		<div class="c-radio-button_icon"></div>
	      	</div>
	      	<div class="c-radio-button_item -third">
	      		<input id="site{{form}}01" name="message[Sites]" type="checkbox" value="dépotoir">
	      		<label for="site{{form}}01" data-text="dépotoir"></label>
	      		<div class="c-radio-button_icon"></div>
	    	</div>
	    	<div class="c-radio-button_item -third">
	      		<input id="site{{form}}02" name="message[Sites]" type="checkbox" value="sol sablonneux">
	      		<label for="site{{form}}02" data-text="sol sablonneux" ></label>
	      		<div class="c-radio-button_icon"></div>
	      	</div>
	      	<div class="c-radio-button_item -third">
	      		<input id="site{{form}}03" name="message[Sites]" type="checkbox" value="foyer">
	      		<label for="site{{form}}03" data-text="foyer"></label>
	      		<div class="c-radio-button_icon"></div>
	    	</div>

	      	<div class="c-radio-button_item -third">
	      		<input id="site{{form}}04" name="message[Sites]" type="checkbox" value="autre">
	      		<label for="site{{form}}04" data-text="autre"></label>
	      		<div class="c-radio-button_icon"></div>
	    	</div>
	    	<input class="c-input-autreSite o-layout_item"	type="text"	name="message[Sites]" 			value="" placeholder="Autre">

  		    		
		</div>




	</div>     
	



<div class="o-layout">
	<h5>Autre</h5>
	<div>
	 <div class="c-radio-button_item -third">
			<input id="autre{{form}}03" name="message[Mesure]" type="radio" value="Métrique">
			<label for="autre{{form}}03" data-text="Métrique"></label>
			<div class="c-radio-button_icon"></div>
	</div>
	<div class="c-radio-button_item -third">
			<input id="autre{{form}}04" name="message[Mesure]" type="radio" value="Impériale">
			<label for="autre{{form}}04" data-text="Impériale"></label>
			<div class="c-radio-button_icon"></div>
	</div>
	</div>


	<input class="c-garage-work_item o-layout_item"	type="text"	name="message[Hauteur]" 			value="" placeholder="Hauteur">
	<input class="c-garage-work_item o-layout_item"	type="text"	name="message[Largeur]" 		value="" placeholder="Largeur">
	<input class="c-garage-work_item o-layout_item"	type="text"	name="message[Notes]" 		value="" placeholder="Notes">


	
</div>
<input type="submit" class="c-btn c-btn--primary" value="Soumettre">