
<div class="o-layout">
	<h4>Indiquez le service, l'objet, l'article, le contrat ou la procédure visé par la plainte</h4>
	<input class="o-layout_item" type="text"	name="message[Résultat ou règlement souhaité par le plaignant]" 		value="" placeholder="Description">
</div>

<div class="o-layout">
	<h4>Indiquez les détails de votre plainte</h4>
	<textarea class="o-layout_item"	rows="25" type="textarea"	name="message[Résultat ou règlement souhaité par le plaignant]" 		value="" placeholder="Description"></textarea>
</div>
<div class="o-layout">
	<h4>Résultat ou règlement souhaité par le plaignant</h4>
	<textarea class="o-layout_item"	rows="5" type="textarea"	name="message[Résultat ou règlement souhaité par le plaignant]" 		value="" placeholder="Description"></textarea>
</div>


<div class="c-construction-pool">
	<h4>Signature</h4>
	<div class="c-construction">
		<div class="o-layout">
			<input class="o-layout_item" id="plainte-03" type="text" name="message[Signature]" value="" placeholder="Signature du plaignant" required>
			<input class="o-layout_item"	type="text"  	name="message[Construction - Date de début]" 			value=""	placeholder="Date" required id="datePicker-3">
			
		</div>
	</div>
</div>


<input type="submit" class="c-btn c-btn--primary" value="Soumettre">



