<div class="c-description">
	<h3>Description</h3>
	<div class="c-description_wrap">
		<h5>Type</h5>
	    <div class="c-radio-button_item -third">
	      	<input id="descriptionType{{form}}0" name="message[Type]" type="radio" value="Piscine hors-terre">
	      	<label for="descriptionType{{form}}0" data-text="Piscine hors-terre"></label>
	      	<div class="c-radio-button_icon"></div>
	    </div>
	    <div class="c-radio-button_item -third">
	      	<input id="descriptionType{{form}}1" name="message[Type]" type="radio" value="Piscine creusée">
	      	<label for="descriptionType{{form}}1" data-text="Piscine creusée" ></label>
	      	<div class="c-radio-button_icon"></div>
	    </div>
	    <div class="c-radio-button_item -third">
	      	<input id="descriptionType{{form}}2" name="message[Type]" type="radio" value="Spa">
	      	<label for="descriptionType{{form}}2" data-text="Spa" ></label>
	      	<div class="c-radio-button_icon"></div>
	    </div>		    
		<div class="c-description_wrap">
			<div class="o-layout">
				<input class="c-garage-work_item o-layout_item"	type="text"	name="message[Piscine et spa - Diamètre]" 				value="" placeholder="Diamètre" 				required>
				<input class="c-garage-work_item o-layout_item"	type="text"	name="message[Piscine et spa - Hauteur ou profondeur]" 	value="" placeholder="Hauteur ou profondeur" 	required>
			</div>
			<h5>Distances des lignes de lots</h5>
			<div class="o-layout">
				<input class="c-garage-work_item o-layout_item"	type="text"	name="message[Piscine et spa - Distances des lignes de lots - Latérale droit]"	value="" placeholder="Latérale droit"	required>
				<input class="c-garage-work_item o-layout_item"	type="text"	name="message[Piscine et spa - Distances des lignes de lots - Latérale gauche]" value="" placeholder="Latérale gauche "	required>
				<input class="c-garage-work_item o-layout_item"	type="text"	name="message[Piscine et spa - Distances des lignes de lots - Arrière]" 		value="" placeholder="Arrière" 			required>			    			    		
			</div>
			<div class="o-layout">
				<input class="c-garage-work_item o-layout_item"	type="text"	name="message[Piscine et spa - Distance du bâtiment principal]" value="" placeholder="Distance du bâtiment principal" 	required>
			</div>
			<h5>Servitude présente sur la propriété</h5>
			<div class="c-radio-button_item">
				<input id="descriptionServitude{{form}}01" name="message[Servitude présente sur la propriété]" type="radio" checked="checked" value="Oui">
				<label for="descriptionServitude{{form}}01" data-text="Oui"></label>
				<div class="c-radio-button_icon"></div>
			</div>
			<div class="c-radio-button_item">
				<input id="descriptionServitude{{form}}02" name="message[Servitude présente sur la propriété]" type="radio" value="Non">
				<label for="descriptionServitude{{form}}02" data-text="Non" ></label>
				<div class="c-radio-button_icon"></div>
			</div>
			<div class="o-layout">		    
				<input class="c-garage-work_item o-layout_item"	type="text"	name="message[Piscine et spa - Distance entre la paroi de la piscine et le filtreur]"	value="" placeholder="Distance entre la paroi de la piscine et le filtreur" 	required>
				<input class="c-garage-work_item o-layout_item"	type="text"	name="message[Piscine et spa - Distance du filtreur et la ligne de lot arrière]" 		value="" placeholder="Distance du filtreur et la ligne de lot arrière" 			required>
				<input class="c-garage-work_item o-layout_item"	type="text"	name="message[Piscine et spa - Distance du filtreur et la ligne de lot latérale]" 		value="" placeholder="Distance du filtreur et la ligne de lot latérale" 		required>
			</div>
		</div>
	</div>     
</div> 

<div class="c-fence">
	<h3>Clôture</h3>
	<div class="c-description">
		<h5>Type de clôture</h5>
	    <div class="c-radio-button_item -third">
	      	<input id="descriptionFenceType{{form}}01" name="message[Type de clôture]" type="radio" value="Bois" required>
	      	<label for="descriptionFenceType{{form}}01" data-text="Bois"></label>
	      	<div class="c-radio-button_icon"></div>
	    </div>
	    <div class="c-radio-button_item -third">
	      	<input id="descriptionFenceType{{form}}02" name="message[Type de clôture]" type="radio" value="Mailles">
	      	<label for="descriptionFenceType{{form}}02" data-text="Mailles" ></label>
	      	<div class="c-radio-button_icon"></div>
	    </div>
	    <div class="c-radio-button_item -third">
	      	<input id="descriptionFenceType{{form}}03" name="message[Type de clôture]" type="radio" value="Autre">
	      	<label for="descriptionFenceType{{form}}03" data-text="Autre" ></label>
	      	<div class="c-radio-button_icon"></div>
	    </div>		    
		<div class="c-description_wrap">
			<div class="o-layout">
		    	<input class="c-garage-work_item o-layout_item"	type="text"	name="message[Piscine et spa - Hauteur]" 						value="" placeholder="Hauteur" 							required>
	    		<input class="c-garage-work_item o-layout_item"	type="text"	name="message[Piscine et spa - Espace entre les barreaux]" 			value="" placeholder="Espace entre les barreaux" 						required>
	    	<input class="c-garage-work_item o-layout_item"	type="text"	name="message[Piscine et spa - Espace sous la clôture]" value="" placeholder="Espace sous la clôture" 	required>
	    	<input class="c-garage-work_item o-layout_item"	type="text"	name="message[Piscine et spa - Longueur totale]" 		value="" placeholder="Longueur totale" 		required>
	    	<input class="c-garage-work_item o-layout_item"	type="text"	name="message[Piscine et spa - Distance entre la clôture et le filtreur]" 			value="" placeholder="Distance entre la clôture et le filtreur" 			required>
		</div>
		</div>
	</div>     
</div> 	

<div class="c-pool-access">
	<h3>Accès à la piscine</h3>
	<div class="c-description">
		<h5>Échelle sécurisée</h5>
	    <div class="c-radio-button_item -third">
	      	<input id="descriptionAccessladder{{form}}01" name="message[Échelle sécurisée]" type="radio" value="Oui" required>
	      	<label for="descriptionAccessladder{{form}}01" data-text="Oui"></label>
	      	<div class="c-radio-button_icon"></div>
	    </div>
	    <div class="c-radio-button_item -third">
	      	<input id="descriptionAccessladder{{form}}02" name="message[Échelle sécurisée]" type="radio" value="Non">
	      	<label for="descriptionAccessladder{{form}}02" data-text="Non" ></label>
	      	<div class="c-radio-button_icon"></div>
	    </div>	    
		<h5>Plate-forme</h5>
	    <div class="c-radio-button_item -third">
	      	<input id="descriptionplatform{{form}}01" name="message[Plate-forme]" type="radio" value="Oui" required>
	      	<label for="descriptionplatform{{form}}01" data-text="Oui"></label>
	      	<div class="c-radio-button_icon"></div>
	    </div>
	    <div class="c-radio-button_item -third">
	      	<input id="descriptionplatform{{form}}02" name="message[Plate-forme]" type="radio" value="Non">
	      	<label for="descriptionplatform{{form}}02" data-text="Non" ></label>
	      	<div class="c-radio-button_icon"></div>
	    </div>	    		    
		<div class="c-platform">
			<div class="o-layout">
		    	<input class="c-garage-work_item o-layout_item"	type="text"	name="message[Piscine et spa - Hauteur de la plate-forme]" 						value="" placeholder="Hauteur de la plate-forme" 							>
	    		<input class="c-garage-work_item o-layout_item"	type="text"	name="message[Piscine et spa - Dimensions]" 			value="" placeholder="Dimensions" 						>
	    		<input class="c-garage-work_item o-layout_item"	type="text"	name="message[Piscine et spa - Fondations]" value="" placeholder="Fondations" 	>
	   			<input class="c-garage-work_item o-layout_item"	type="text"	name="message[Piscine et spa - Hauteur garde-corps]" 		value="" placeholder="Hauteur garde-corps" 		>
	    	</div>
			<h5>Présence d'une barrure automatique (loquet)</h5>
	    	<div class="c-radio-button_item -third">
	      		<input id="descriptionAccessloquet{{form}}01" name="message[Présence d'une barrure automatique (loquet)]" type="radio" value="Oui">
	      		<label for="descriptionAccessloquet{{form}}01" data-text="Oui"></label>
	      		<div class="c-radio-button_icon"></div>
	    	</div>
	    	<div class="c-radio-button_item -third">
	      		<input id="descriptionAccessloquet{{form}}02" name="message[Présence d'une barrure automatique (loquet)]" type="radio" value="Non">
	      		<label for="descriptionAccessloquet{{form}}02" data-text="Non" ></label>
	      		<div class="c-radio-button_icon"></div>
	    	</div>	    
			<h5>Présence d'une fermeture automatique (ressort)</h5>
	    	<div class="c-radio-button_item -third">
	      		<input id="descriptionRessort{{form}}01" name="message[Présence d'une fermeture automatique (ressort)]" type="radio" value="Oui">
	      		<label for="descriptionRessort{{form}}01" data-text="Oui"></label>
	      		<div class="c-radio-button_icon"></div>
	    	</div>
	    	<div class="c-radio-button_item -third">
		      	<input id="descriptionRessort{{form}}02" name="message[Présence d'une fermeture automatique (ressort)]" type="radio" value="Non">
		      	<label for="descriptionRessort{{form}}02" data-text="Non" ></label>
	    	  	<div class="c-radio-button_icon"></div>
	    	</div>	  		    		
		</div>
	</div>     
</div> 		

<div class="c-construction-pool">
	<h3>Exécutant des travaux de construction</h3>
	<div class="c-construction">
		<div class="o-layout">
    		<input class="o-layout_item" 	type="text" 	name="message[Exécutant Construction - Entrepreneur]" 	value="" 	placeholder="Nom Complet" required>
	    	<input class="o-layout_item" 	type="text" 	name="message[Construction - Cout" 						value="" 	placeholder="Cout des travaux" required>
			<input class="o-layout_item"	type="text"  	name="message[Construction - Date de début" 			value=""	placeholder="Date de commencenment des travaux" required id="datePicker">
		</div>
	</div>
</div>