<div class="c-request">
	<input id="from-name" 	type="text" 	name="fromName" 			value="" placeholder="Nom" 			class="o-layout_item" required>
	<input id="address" 	type="text" 	name="message[adresse]" 	value="" placeholder="Adresse" 		class="o-layout_item" required>	
	<input id="Ville" 		type="text" 	name="message[Ville]" 		value="" placeholder="Ville" 		class="o-layout_item" required>		
	<input id="address" 	type="text" 	name="message[Code postal]" value="" placeholder="Code postal" 	class="o-layout_item" required>	
	<input id="phone" 		type="text" 	name="message[Téléphone]" 	value="" placeholder="Téléphone" 	class="o-layout_item" required>
	<input id="from-email" 	type="email" 	name="fromEmail" 			value="" placeholder="Courriel" 	class="o-layout_item" required>
	<textarea  class="u-1/1" rows="10" cols="40" data-parsley-required="true" id="message" name="message[Message]" required placeholder="Message"></textarea>   	
	<input type="submit" class="c-btn c-btn--primary" value="Soumettre">
</div>