<form id="form-{{form}}" class="c-form" method="post" action="/" accept-charset="UTF-8" enctype="multipart/form-data">
    {{ csrfInput() }}
    <input type="hidden" name="action" value="contact-form/send">
{{ redirectInput('/vie-communautaire/location-du-centre-socioculturel') }}
    <input id="subject" type="hidden" name="subject" value="{{templateName}}" required>

	{% if templateOption is defined %}

		{% set template = templateOption %}

		{% include "_components/forms/" ~ template %}

	{% endif %}

	{% if templateOptionOne is defined %}

		{% set template = templateOptionOne %}

		{% include "_components/forms/" ~ template %}

	{% endif %}

	{% if templateOptionTwo is defined %}

		{% set template = templateOptionTwo %}

		{% include "_components/forms/" ~ template %}

	{% endif %}

	{% if templateOptionThree is defined %}

		{% set template = templateOptionThree %}

		{% include "_components/forms/" ~ template %}

	{% endif %}	

	{% if templateOptionFour is defined %}

		{% set template = templateOptionFour %}

		{% include "_components/forms/" ~ template %}

	{% endif %}						

	{% if templateOptionFive is defined %}

		{% set template = templateOptionFive %}

		{% include "_components/forms/" ~ template %}

	{% endif %}		

	{% if templateOptionSix is defined %}

		{% set template = templateOptionSix %}

		{% include "_components/forms/" ~ template %}

	{% endif %}	
<div class="c-form_confirmation">
	<div class="c-form_confirmation_close"></div>

	<p>Votre message à été envoyé avec succès. Nous vous contacterons dans les plus brefs délais.</p>
</div>
</form>

