<div class="c-home_news">
	{% set pages = craft.entries.section('news').level(1).all() %}
	<nav>
	    <ul class="o-list-bare  c-home_news_ul">
	        {% for page in pages %}
	            <li>
	            	<div class="c-home_news_ul_wrapper">
	            		
	            		<div class="c-home_news_ul_img"><a href="{{page.url()}}">
	            			{% if(page.newsImageSingle|length) %}
	            				<img src="{{page.newsImageSingle.one.url('newsImages')}}" alt="">
	            			{% else %}
	            				<img src="https://placeimg.com/640/266/arch">
	            			{% endif %}
	            		</a></div>
	            		<div class="c-home_news_ul_content">

	            			<div class="c-home_news_ul_new">
	            				<a href="{{page.url()}}">
	            					<p class="c-home_news_ul_title">{{page.title}}</p>
	            					<p>{{page.newsResume}}</p>
	            					<p class="c-home_news_ul_info">{{page.newsCat.one().title}} - {{page.postDate | date("j F Y")}}</p>
								</a>
	            			</div>
	            			
	            			<div class="c-home_news_ul_all">
	            				<a href="{{info.newslink}}">Voir<br>toutes les<br>nouvelles</a>
	            					
	            				
	            			</div>
	            		</div>
	    			</div>
	    		</li>
	        {% endfor %}

	    </ul>
	</nav>		

	<div class="c-home_news_ul_btns"></div>
</div>