
{% extends "_layout/site" %}


{# Acquire URL segments #}
{% set baseUrlSegments = 1 %}
{% set segment1 = craft.app.request.segment(baseUrlSegments + 1) %}
{% set segment2 = craft.app.request.segment(baseUrlSegments + 2) %}
{% set segment3 = craft.app.request.segment(baseUrlSegments + 3) %}
{% set segment4 = craft.app.request.segment(baseUrlSegments + 4) %}
{% set segment5 = craft.app.request.segment(baseUrlSegments + 5) %}

{% block content %}
    <div class="o-wrapper">
        <div id="calendar-wrapper"></div>
    </div>

{% endblock %}


{% block footerJs %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/qtip2/3.0.3/jquery.qtip.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/timepicker@1.11.12/jquery.timepicker.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="{{ siteUrl }}assets/calendar-demo/css/full-calendar.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/timepicker@1.11.12/jquery.timepicker.min.js"></script>
    <script src="//cdn.jsdelivr.net/qtip2/3.0.3/jquery.qtip.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-3.0.0.min.js"></script>

        {% set defaultDate = now.format("Y-m-d") %}
        {% if segment3 and segment4 and segment5 %}
            {% set defaultDate = segment3 ~ "-" ~ segment4 ~ "-" ~ segment5 %}
        {% endif %}


    <script>

        

        var calendarTimeFormat = "{{ craft.app.locale.getTimeFormat('short', 'php') }}";
        var qTipsEnabled = true;
        var $calendar = $("#calendar-wrapper");
        var canEditEvents = "{{ currentUser and currentUser.can('calendar-manageEvents') ? 'true' : 'false' }}";

        window.csrfTokenName = '{{ craft.app.config.general.csrfTokenName }}';
        window.csrfTokenValue = '{{ craft.app.request.csrfToken }}';



        $(function () {
            $calendar.fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                windowResize: function(view) {

                  if ($(window).width() > 1280) {
                        $calendar.fullCalendar('changeView', 'month');
                        $calendar.fullCalendar( 'refetchEvents' );
                    } else if ($(window).width() < 1279 && $(window).width() > 767 ) { 
                        $calendar.fullCalendar('changeView', 'agendaWeek');
                    } else if ($(window).width() < 766) {
                        $calendar.fullCalendar('changeView', 'agendaDay');
                    }
                },
                contentHeight: 'auto',
                locale: "fr",
                defaultDate: new Date(),
                // defaultDate: "{{ defaultDate }}",
                fixedWeekCount: true,
                aspectRatio: 1.3,
                events: getEvents,
                eventRender: renderEvent,
                eventClick: eventClick,
                eventDragStart: closeAllQTips,
                eventDragStop: enableQTips,
                eventDrop: eventDateChange,
                eventResizeStart: closeAllQTips,
                eventResizeStop: enableQTips,
                eventResize: eventDurationChange,
                selectable: canEditEvents,
                selectHelper: canEditEvents,
                disableDragging:false,
                disableResizing: false,
                addEvent: false,
                titleRangeSeparator: ' - '
            });


            $('.fc-button', $calendar).on({
                click: function () {
                    var viewType = $calendar.fullCalendar('getView').type;
                    var date = $calendar.fullCalendar('getDate');

                    var year = date.format('YYYY');
                    var month = date.format('MM');
                    var day = date.format('DD');

                    var view = 'month';
                    switch (viewType) {
                        case 'agendaDay':
                            view = 'day';
                            break;

                        case 'agendaWeek':
                            view = 'week';
                            break;
                    }

                    var url = '{{ siteUrl }}evenements/' + view + '/' + year + '/' + month + '/' + day;

                    history.pushState('data', '', url);
                }
            });

            $(".date-picker").datepicker({dateFormat: "yy-mm-dd"});
            $(".time-picker").timepicker();

            var $creator = $('#event-creator');
            var $allDay = $('input[name=allDay]', $creator);
            $allDay.on({
                click: function () {
                    var $timeWrapper = $('.timewrapper', $creator);

                    if ($(this).is(":checked")) {
                        $timeWrapper.fadeOut('fast');
                    } else {
                        $timeWrapper.fadeIn('fast');
                    }
                }
            });
        });

        function getEvents(start, end, timezone, callback) {
            var data = {
                rangeStart: start.toISOString(),
                rangeEnd: end.toISOString(),
                '{{ craft.app.config.general.csrfTokenName }}': '{{ craft.app.request.csrfToken }}',
            };

            $.ajax({
                url: '{{ siteUrl }}calendar-demo/resources/event.json',
                data: data,
                type: 'post',
                dataType: 'json',
                success: function (eventList) {
                  // All day events have to actually go into the next day
                  // So we pad them with 2 seconds to go from 23:59:59 same day
                  // Into 00:00:01 the next day
                  for (var i = 0; i < eventList.length; i++) {
                    var event = eventList[i];
                    if (event.allDay) {
                      eventList[i].end = moment(event.end).add(2, 's').utc().format();
                    }
                  }

                  callback(eventList);
                }
            });
        }

        function renderEvent(event, element) {
            if (event.allDay) {
                element.addClass('fc-event-all-day');
            }

            if (!event.end) {
                return;
            }

            if (!event.multiDay && !event.allDay) {
                element.addClass('fc-event-single-day');
                var colorIcon = $('<span />')
                        .addClass('fc-color-icon')
                        .css('background-color', event.backgroundColor)
                        .css('border-color', event.borderColor);
                $('.fc-content', element).prepend(colorIcon);
            } else {
                element.addClass('fc-event-multi-day');
            }

            element.addClass('fc-color-' + event.textColor);

            buildEventPopup(event, element);
        }

        function eventClick(event) {
            var date = event.start;

            var year = date.format('YYYY');
            var month = date.format('MM');
            var day = date.format('DD');

        }

        /**
         * Attaches a qTip2 popup on a given event
         *
         * @param event
         * @param element
         */
        function buildEventPopup(event, element) {
            if (!event.calendar) {
                return;
            }

            var qtipContent = $('<div>');
            var calendarData = $('<div>', {
                class: 'calendar-data',
                html: '<span class="color-indicator" style="background-color: ' + event.backgroundColor + ';"></span> ' + event.calendar.name
            });

            var start = moment(event.start);
            var end = moment(event.end);

            var dateFormat = "{{'D MMMM Y'|t}}";
            if (event.allDay) {
                end.subtract(1, 'days');
            } else {
                var timeFormat = calendarTimeFormat == "H:i" ? "HH:mm" : "h:mma"
                dateFormat = dateFormat + ' à ' + timeFormat;
            }






            if(event.calendar.handle != "collectionJunk" && event.calendar.handle != "collectionRecyclable") {
                var eventRange = $('<div>', {
                    class: 'event-date-range separator',
                    html: '<div style="white-space: nowrap;"><label>Début : </label>' + start.format(dateFormat) + '</div>' +
                    '<div style="white-space: nowrap;"><label>Fin : </label>' + end.format(dateFormat) + '</div>' +
                    '<div style="white-space: nowrap;"><label>Cout : </label>' + event.calendrierCout + '</div>'
                });
            } else {
                var eventRange = $('<div>', {
                    class: 'event-date-range separator',
                    html: '<div style="white-space: nowrap;"><label>Début : </label>' + start.format(dateFormat) + '</div>' +
                    '<div style="white-space: nowrap;"><label>Fin : </label>' + end.format(dateFormat) + '</div>'
                });                
            }

            var eventRepeats = '';
            if (event.repeats) {

            }

            if (event.editable) {
                var editButton = $('<div>', {
                    class: 'buttons'
                });





                
            }

            element.qtip({
                content: {
                    title: event.handle,
                    button: true,
                    text: qtipContent
                            .add(calendarData)
                            .add(eventRange)
                            .add(eventRepeats)
                            .add(editButton)
                },
                style: {
                    classes: 'qtip-bootstrap qtip-event',
                },
                position: {
                    my: 'top center',
                    at: 'bottom center',
                    viewport: $(window),
                    adjust: {
                        method: 'shift flip'
                    }
                },
                show: {
                    solo: true,
                    delay: 500
                },
                hide: {
                    fixed: true,
                    delay: 300
                },
                events: {
                    show: function (e, api) {
                        if (!qTipsEnabled) {
                            e.preventDefault();
                        }
                    },
                    render: function (e, api) {
                        $('a.delete-event-occurrence', api.elements.content).click(function (e) {
                            var action = $(this).data('action');
                            var eventId = $(this).data('id');
                            var date = $(this).data('date');

                            if (confirm("{{ 'Are you sure?'|t }}")) {
                                var data = {
                                    eventId: eventId,
                                    date: date,
                                    action: action
                                };

                                data[csrfTokenName] = csrfTokenValue;

                                $.ajax({
                                    type: 'post',
                                    dataType: 'json',
                                    data: data,
                                    success: function (response) {
                                        if (!response.error) {
                                            $calendar.fullCalendar('removeEvents', function (lookupEvent) {
                                                return lookupEvent.id == event.id && lookupEvent.start.isSame(event.start);
                                            });
                                            api.destroy();

                                            return;
                                        }

                                        alert(response.error);
                                    }
                                });
                            }

                            return false;
                        });

                        $('a.delete-event', api.elements.content).click(function (e) {
                            var action = $(this).data('action');
                            var eventId = $(this).data('id');

                            if (confirm("{{ 'Are you sure you want to delete this event?'|t }}")) {
                                var data = {
                                    eventId: eventId,
                                    action: action
                                };

                                data[csrfTokenName] = csrfTokenValue;

                                $.ajax({
                                    type: 'post',
                                    dataType: 'json',
                                    data: data,
                                    success: function (response) {
                                        if (!response.error) {
                                            $calendar.fullCalendar('removeEvents', event.id);
                                            api.destroy();

                                            return;
                                        }

                                        alert(response.error);
                                    }
                                });
                            }

                            return false;
                        });
                    }
                }
            });
        }

        function eventDateChange(event, delta, revertFunc) {
            eventRepositioned("Date", event, delta, revertFunc);
        }

        function eventDurationChange(event, delta, revertFunc) {
            eventRepositioned("Duration", event, delta, revertFunc);
        }

        function eventRepositioned(modification, event, delta, revertFunc) {
            var data = {
                action: "calendar/events-api/modify-" + modification.toLowerCase(),
                eventId: event.id,
                isAllDay: event.allDay,
                startDate: event.start.toISOString(),
                endDate: event.end ? event.end.toISOString() : null,
                deltaSeconds: delta.as("seconds")
            };

            data[csrfTokenName] = csrfTokenValue;

            $.ajax({
                type: 'post',
                dataType: 'json',
                data: data,
                success: function (response) {
                    if (response.error) {
                        revertFunc();
                    } else {
                        if (event.repeats) {
                            $calendar.fullCalendar('refetchEvents');
                        }
                    }
                },
                error: function () {
                    revertFunc();
                }
            });
        }

        function closeAllQTips() {
            qTipsEnabled = false;
            $('div.qtip:visible').qtip('hide');
        }

        function enableQTips() {
            qTipsEnabled = true;
        }

        


$(window).load(function() {
                  if ($(window).width() > 1280) {
                        $calendar.fullCalendar('changeView', 'month');
                    } else if ($(window).width() < 1279 && $(window).width() > 767 ) { 
                        $calendar.fullCalendar('changeView', 'agendaWeek');
                    } else if ($(window).width() < 766) {
                        $calendar.fullCalendar('changeView', 'agendaDay');
                    }
})


        /**
         * Attaches a qTip2 popup on a given event
         *
         * @param event
         * @param element
         */
        function buildEventPopup(event, element) {
            if (!event.calendar) {
                return;
            }

            var qtipContent = $('<div>');
            var calendarData = $('<div>', {
                class: 'calendar-data',
                html: '<span class="color-indicator" style="background-color: ' + event.backgroundColor + ';"></span> ' + event.calendar.name
            });

            var start = moment(event.start);
            var end = moment(event.end);

            var dateFormat = 'dddd, MMMM D, YYYY';
            if (event.allDay) {
                end.subtract(1, 'days');
            } else {
                var timeFormat = calendarTimeFormat == "H:i" ? "HH:mm" : "h:mma"
                dateFormat = dateFormat + ' [at] ' + timeFormat;
            }

            if(event.calendar.handle != "collectionJunk" && event.calendar.handle != "collectionRecyclable") {
                var eventRange = $('<div>', {
                    class: 'event-date-range separator',
                    html: '<div style="white-space: nowrap;"><label>Début : </label>' + start.format(dateFormat) + '</div>' +
                    '<div style="white-space: nowrap;"><label>Fin : </label>' + end.format(dateFormat) + '</div>' +
                    '<div style="white-space: nowrap;"><label>Cout : </label>' + event.calendrierCout + '</div>'
                });
            } else {
                var eventRange = $('<div>', {
                    class: 'event-date-range separator',
                    html: '<div style="white-space: nowrap;"><label>Début : </label>' + start.format(dateFormat) + '</div>' +
                    '<div style="white-space: nowrap;"><label>Fin : </label>' + end.format(dateFormat) + '</div>'
                });                
            }

            var eventRepeats = '';
            if (event.repeats) {
                eventRepeats = $('<div>', {
                    class: 'event-repeats separator',
                    html: '<label>Repeats:</label>' + event.readableRepeatRule
                });
            }

            if (event.editable) {
                var editButton = $('<div>', {
                    class: 'buttons'
                });

                editButton.append($('<a>', {
                    class: 'btn btn-outline-warning btn-sm submit',
                    href: '{{ siteUrl }}calendar-demo/edit/event/' + event.id,
                    text: '{{ "Edit"|t }}'
                }));

                editButton.append($('<a>', {
                    class: 'btn btn-outline-danger text-danger btn-sm delete-event',
                    text: "{{ 'Delete'|t }}",
                    data: {
                        id: event.id,
                        action: 'calendar/events-api/delete'
                    }
                }));

                if (event.repeats) {
                    editButton.append($('<a>', {
                        class: 'btn btn-outline-secondary btn-sm delete-event-occurrence',
                        text: "{{ 'Delete Occurrence'|t }}",
                        data: {
                            id: event.id,
                            date: event.start.toISOString(),
                            action: 'calendar/events-api/delete-occurrence'
                        }
                    }));
                }
            }

            element.qtip({
                content: {
                    title: event.title,
                    button: true,
                    text: qtipContent
                            .add(calendarData)
                            .add(eventRange)
                            .add(eventRepeats)
                            .add(editButton)
                },
                style: {
                    classes: 'qtip-bootstrap qtip-event',
                },
                position: {
                    my: 'top center',
                    at: 'bottom center',
                    viewport: $(window),
                    adjust: {
                        method: 'shift flip'
                    }
                },
                show: {
                    solo: true,
                    delay: 500
                },
                hide: {
                    fixed: true,
                    delay: 300
                },
                events: {
                    show: function (e, api) {
                        if (!qTipsEnabled) {
                            e.preventDefault();
                        }
                    },
                    render: function (e, api) {
                        $('a.delete-event-occurrence', api.elements.content).click(function (e) {
                            var action = $(this).data('action');
                            var eventId = $(this).data('id');
                            var date = $(this).data('date');

                            if (confirm("{{ 'Are you sure?'|t }}")) {
                                var data = {
                                    eventId: eventId,
                                    date: date,
                                    action: action
                                };

                                data[csrfTokenName] = csrfTokenValue;

                                $.ajax({
                                    type: 'post',
                                    dataType: 'json',
                                    data: data,
                                    success: function (response) {
                                        if (!response.error) {
                                            $calendar.fullCalendar('removeEvents', function (lookupEvent) {
                                                return lookupEvent.id == event.id && lookupEvent.start.isSame(event.start);
                                            });
                                            api.destroy();

                                            return;
                                        }

                                        alert(response.error);
                                    }
                                });
                            }

                            return false;
                        });

                        $('a.delete-event', api.elements.content).click(function (e) {
                            var action = $(this).data('action');
                            var eventId = $(this).data('id');

                            if (confirm("{{ 'Are you sure you want to delete this event?'|t }}")) {
                                var data = {
                                    eventId: eventId,
                                    action: action
                                };

                                data[csrfTokenName] = csrfTokenValue;

                                $.ajax({
                                    type: 'post',
                                    dataType: 'json',
                                    data: data,
                                    success: function (response) {
                                        if (!response.error) {
                                            $calendar.fullCalendar('removeEvents', event.id);
                                            api.destroy();

                                            return;
                                        }

                                        alert(response.error);
                                    }
                                });
                            }

                            return false;
                        });
                    }
                }
            });
        }


    </script>

{% endblock %}
