{% extends "_layout/site" %}

    {% block content %}
    {% include "_components/content/content" %}
		<section class="c-contact">
			<div class="o-wrapper">
				<div class="o-layout o-layout--xx-large">
					
					<div class="o-layout_item u-3/5@portrait-medium-tablet u-1/1">	
					{% include "_components/forms/template2" with { 'form' : 'contact', 'templateOption': 'request','templateName':'Nous-joindre' } %}
					</div>
					<div class="o-layout_item u-2/5@portrait-medium-tablet u-1/1">
						<h3>Nos coordonnées</h3>
						<h5>{{siteName}}</h5>
						<p>{{info.infoAddress|nl2br}}</p>
						<p>
							Téléphone : {{info.infoPhone}}
							<br>Télécopieur : {{info.infoFax}}
							<br>Courriel : <a href="mailto:{{info.infoEmail}}">{{info.infoEmail}}</a>
						</p>
						<h5>Heures d'ouverture</h5>
						<p>
							Lundi au jeudi : {{info.businessHoursMonThu}}
							<br>Vendredi : {{info.businessHoursFri}}
						</p>
					</div>
				</div>
			</div>
		</section>
    {% endblock %} 