{% extends "_layout/site" %}

    {% block content %}
<section class="c-career c-career_vacant_jobs">
	<div class="o-wrapper ">
{% set entries = craft.entries.section('news').level(1).all() %}
    <ul class="o-layout o-layout--m-large c-list-structure_ul c-career_vacant_jobs_ul">
        {% for entry in entries %}
          <li class="o-layout_item u-1/1@portrait-large-handset u-1/2@portrait-small-tablet">
            
                    <div class="c-career_vacant_jobs_ul_wrapper">

                        <div class="c-career_vacant_jobs_ul_img">
                            <a href="{{entry.url()}}">
	            			{% if(entry.newsImageSingle|length) %}
	            				<img src="{{entry.newsImageSingle.one.url('newsImages')}}" alt="">
	            			{% else %}
	            				<img src="https://placeimg.com/640/266/arch">
	            			{% endif %}                            	
                            </a></div>
                        <div class="c-career_vacant_jobs_ul_content">
                            
                            <div class="c-career_vacant_jobs_ul_new">
                                <a href="{{entry.url()}}">
                                <p class="c-career_vacant_jobs_ul_title">{{entry.title}}</p>
                                <p>{{entry.newsResume}}</p>
                                <div class="c-career_vacant_jobs_ul_btns">
                                    
                                </div>
                                </a>
                            </div>
                            
                            <div class="c-career_vacant_jobs_ul_all">
                                <a href="{{entry.url()}}"><p>En<br>savoir<br>plus</p></a>
                            </div>
                        </div>
                    </div>
                    
                </li>
        {% endfor %}
    </ul>
	</div>
</section>
    {% endblock %} 

{# 
    portrait-small-handset:   320px,
portrait-medium-handset:   400px,
portrait-large-handset:   480px,
portrait-small-tablet:    600px,
portrait-medium-tablet:   720px,
portrait-large-tablet:    840px,
landscape-small-tablet:   960px,
landscape-medium-tablet:  1024px,
landscape-large-tablet:   1280px,
window-large:             1440px,
window-xlarge:            1920px #}