<section class="o-section c-home_portrait">
	<div class="o-wrapper">
		<div class="o-layout o-layout--x-large o-layout--bottom">
{# 			<div class="o-layout_item u-3/5 c-media">


				{% if entry.portraitMedia.value == 0  %}
				<img src="{{entry.portraitImage.one().url()}}">
				{% elseif entry.portraitMedia.value == 1 %}

								<div class="c-video o-ratio o-ratio--16:9">
				<iframe class="c-iframe" src='https://player.vimeo.com/video/66140585' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>



								</div>
				{% endif %}



			</div> #}
			<div class="o-layout_item u-2/5">





				<h3>{{entry.portraitTitle}}</h3>
				<div class="c-content">
					{{entry.portraitContent}}
				</div>
		
					<div class="c-portrait_btn">
						<a class="c-btn c-btn--primary">Venez nous visiter</a>	
					</div>
					
			
			</div>
		</div>
	</div>
</section>



