<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Demo Templates for Calendar">
    <meta name="author" content="Solspace">
    <title>Calendar | {{ pageTitle ? pageTitle : "Home" }}</title>
    <link href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ siteUrl }}assets/calendar-demo/css/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body role="document">

{% block nav %}{% include "calendar-demo/layouts/_header.html" %}{% endblock %}

<div class="container">
    {% block content %}{% endblock %}

    {% block pageInfo %}{% endblock %}

    {% block footer %}
        <br /><hr />
        <div class="footer">
            <p>&copy; {{ "now"|date('Y') }} Solspace, Inc.</p>
        </div>
    {% endblock %}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="{{ siteUrl }}assets/calendar-demo/js/main.js"></script>

{% block footerJs %}{% endblock %}
</body>
</html>
