{% set municipalitylvl = craft.entries.section('menuMunicipality').all() %}
{% set municipalitylvl2 = craft.entries.section('menuMunicipality').level('2').all() %}
{% set pagesTwo = craft.entries.section('menuServices').all() %}
{% set pagesThree = craft.entries.section('menuLife').all() %}
{% set pagesFour = craft.entries.section('menuVisit').all() %}
{% set pagesFive = craft.entries.section('menuSecondary').all() %}


<!doctype html>
    <html lang="{{craft.app.language}}">
        <head>
            {% hook 'seo' %}
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="../../assets/css/app.css">
           {#  <link rel="stylesheet" href="{{ craft.app.sites.primarySite.baseUrl }}assets/css/app.css"> #}
         
            <link href="https://fonts.googleapis.com/css?family=Nunito:400,600|Poppins:100,300,700,400,900" rel="stylesheet">
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />         
        </head>
        <body id="barba-wrapper">   
            <div  class="barba-container lang-{{craft.app.language}} {% if entry is defined %}{{entry.type}}{% endif %}" data-namespace="page">
                <header>




{% if entry is defined %}
{% if entry.type == "homePage" %}
<a href="{{siteUrl}}"><img class="c-header_logo-home" src="../../assets/images/logos/saint-stanislas-de-kostka_logo.svg" alt=""></a>
<div class="c-home_link">
<a href="{{siteUrl}}"><img class="c-header_logo" src="../../assets/images/logos/saint-stanislas-de-kostka_logo.svg" alt=""></a>
<div class="c-home_menu">
    <ul>
{% set entries = craft.entries.section('menuHome').all() %}
{% nav entry in entries %}
                        <li>
                            {% if entry.menuLink|length %}
                                <a href="{{ entry.menuLink.getUrl() }}">{{ entry.title }}</a>
                            {% else %}
                                <p class="c-submenu_title">{{ entry.title }}</p>
                            {% endif %}
                        </li>
                    {% endnav %}
    </ul>
</div>
</div>
{% else %}
<a href="{{siteUrl}}"><img class="c-header_logo" src="../../assets/images/logos/st-stanislas-de-kostka_logo-footer.svg" alt=""></a>
{% endif %}
{% else %}
<a href="{{siteUrl}}"><img class="c-header_logo" src="../../assets/images/logos/st-stanislas-de-kostka_logo-footer.svg" alt=""></a>
{% endif %}
                    <div class="c-header_banner">
                        {% if entry is defined %}
                            {% if entry.type == "homePage" %}
{#                                 <div class="c-banner -home" style="background: url('{{entry.header.one.url()}}')">
                                    <div class="o-wrapper"> 
                                    <div class="c-banner_wrap">
                                        <div class="c-banner_content">
                                            <p class="c-homepage-title"><span class="span-zero">Le bonheur en famille,</span><br><span class="span-one">ça se vit ici!</span></p>
                                        </div>
                                    </div>
                                    </div>
                                </div> #}
                                <div class="c-banner -home">
                                    <section class="o-section c-video o-ratio o-ratio--16:9">
                                        {# <iframe src="https://player.vimeo.com/video/356712054"
                                        frameborder="0" allow=autoplay></iframe> #}
<iframe id="test"  src="https://player.vimeo.com/video/357918733?background=1&autoplay=1&loop=1&byline=0&title=0&muted=1"
            frameborder="0" allow=autoplay></iframe>                                            
                                    </section>
                                </div>

                            {% else %}
                            {% if entry.header|length %}
                                {% set image = entry.header.one.url() %}
                            {% else %}    
                                {% set image = info.placeholder.one.url() %}
                            {% endif %}    
                                <div class="c-banner -page" style="background: url('{{image}}')">
                                    <div class="o-wrapper"> 
                                        <div class="c-banner_wrap">
                                            <div class="c-banner_content">                            
                                                {% if entry.type == "careerAvailable" %}
                                                    <p class="c-homepage-title">{{"Carrière"}}</p>
                                                {% elseif entry.type == "news" %}
                                                    <p class="c-homepage-title">{{"Actualités"}}</p>                                                                   
                                                {% else %}
                                                    <p class="c-homepage-title">{{entry.title}}</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>                                                
                            {% endif %}
                        {% elseif event is defined %}
                            <div class="c-banner -page" style="background: url('{{info.eventSingleImg.one.url()}}')">
                                <div class="o-wrapper"> 
                                    <div class="c-banner_wrap">
                                        <div class="c-banner_content">                            
                                            <p class="c-homepage-title">Événements</p>
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                        {% else %}
                            <div class="c-banner -page" style="background: url('{{info.eventsImg.one.url()}}')">
                                <div class="o-wrapper"> 
                                    <div class="c-banner_wrap">
                                        <div class="c-banner_content">                                       
                                            <p class="c-homepage-title">Événements</p>                                       
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                        {% endif %}
  
                    </div>
                    <div class="c-menu"></div>
                    <div class="c-mobile_menu-header">
                        <a href="{{siteUrl}}"><img class="c-header_logo" src="../../assets/images/logos/st-stanislas-de-kostka_logo-footer.svg" alt=""></a>
                    </div>
                   
                </header>
                <div class="c-header_menu">
                    <div class="o-wrapper">
                <nav class="c-menu_nav">
                    <ul class="c-depth-zero">
                        <li><a href="#">Notre municipalité</a>
                            <ul class="c-depth-one">
                                {% nav page in municipalitylvl %}
                                    <li>
                                        {% if page.menuLink.url|length %}
                                            <a href="{{page.menuLink.url()}}"> {{ page.title }}</a>
                                        {% else %}
                                            <a {% if page.hasDescendants() %}class="c-arrow-menu_hidden"{% endif %} href="#"> {{ page.title }} {% if page.hasDescendants() %}<img class="c-arrow-menu" src="../../assets/images/icons/arrow-menu.svg" alt=""> {% endif %}</a>

                                        {% endif %}
                                        {% ifchildren %}
                                            <ul class="c-depth-two">
                                                {% children %}
                                            </ul>
                                        {% endifchildren %}
                                    </li>
                                {% endnav %}
                            </ul>
                        </li>

                        <li><a href="#">Services aux citoyens</a>
                            <ul class="c-depth-one">
                                {% nav page in pagesTwo %}
                                    <li>
                                        {% if page.menuLink.url|length %}
                                            <a href="{{page.menuLink.url()}}"> {{ page.title }}</a>
                                        {% else %}
                                             <a {% if page.hasDescendants() %}class="c-arrow-menu_hidden"{% endif %} href="#"> {{ page.title }} {% if page.hasDescendants() %}<img class="c-arrow-menu" src="../../assets/images/icons/arrow-menu.svg" alt=""> {% endif %}</a>
                                        {% endif %}
                                        {% ifchildren %}
                                            <ul class="c-depth-two">
                                                {% children %}
                                            </ul>
                                        {% endifchildren %}
                                    </li>
                                {% endnav %}
                            </ul>
                        </li>
                        <li><a href="#">Vie communautaire </a>  {# {% if pagesThree|length %}<img class="c-arrow-menu" src="../../assets/images/icons/arrow-menu.svg" alt=""> {% endif %} #}
                        </a>
                            <ul class="c-depth-one">
                                {% nav page in pagesThree %}
                                    <li>
                                        {% if page.menuLink.url|length %}
                                            <a href="{{page.menuLink.url()}}"> {{ page.title }}</a>
                                        {% else %}
                                             <a {% if page.hasDescendants() %}class="c-arrow-menu_hidden"{% endif %} href="#"> {{ page.title }} {% if page.hasDescendants() %}<img class="c-arrow-menu" src="../../assets/images/icons/arrow-menu.svg" alt=""> {% endif %}</a>
                                        {% endif %}
                                        {% ifchildren %}
                                            <ul class="c-depth-two">
                                                {% children %}
                                            </ul>
                                        {% endifchildren %}
                                    </li>
                                {% endnav %}
                            </ul>                            
                        </li>
                        <li><a href="#">Visitez-nous</a>
                            <ul class="c-depth-one">
                                {% nav page in pagesFour %}
                                    <li>
                                        {% if page.menuLink.url|length %}
                                            {# {% if  craft.app.request.segments(2) == "st-stan" %}<a href="{{page.menuLink.url()}}"> {{ page.title }}</a> #}
{#                                             {% if 'http://st-stan.test/' in '{{page.menuLink.url()}}' %}<a href="{{page.menuLink.url()}}"> {{ page.title }}</a>
                                            {% else %}
                                          
                                            {% endif %} #}
                                            <a target="{{page.menuLink.target}}" href="{{page.menuLink.url()}}">{{page.title }}</a>

                                        {% else %}
                                            <a href="#"> {{ page.title }}</a>
                                        {% endif %}
                                        {% ifchildren %}
                                            <ul class="c-depth-two">
                                                {% children %}
                                            </ul>s
                                        {% endifchildren %}
                                    </li>
                                {% endnav %}
                            </ul>                              
                        </li>
 {% nav page in pagesFive %}
                                    <li>
                                        {% if page.menuLink.url|length %}
                                            <a href="{{page.menuLink.url()}}"> {{ page.title }}</a>
                                        {% else %}
                                            <a href="#"> {{ page.title }}</a>
                                        {% endif %}
                                    </li>
                                {% endnav %}

                    </ul>
                </nav>
                </div>
                </div>
                <main class="c-main">
                    {% block content %}{% endblock %}   
                </main>
               <footer>
               </footer>
            </div>

{% include "_components/content/bg" with {option:"yup"} %}
            <div class="o-layout_item c-footer_newsletter">
                <div class="c-footer_newsletter_wrap">
                <h5>Inscrivez-vous à l'infolettre</h5>
                <p>Recevez tous les renseignements et l'actualité de la municipalité de Saint-Stanislas-de-Kostka.</p>
                <form action="" class="c-form">
                    <input type="text" value="" placeholder="Adresse courriel" required>
                    <input type="submit" value="Je m'inscris" class="c-btn c-btn--primary">
                </form>
                </div>
            </div>
       

<footer class="c-footer">
    <div class="o-wrapper">
        <div class="o-layout c-footer_wapper">
            <div class="o-layout_item u-1/4@portrait-medium-tablet u-1/1 c-footer_info">
                <img class="c-footer_logo" src="../../assets/images/logos/st-stanislas-de-kostka_logo-footer.svg">

            </div>
            <div class="o-layout_item u-1/4@portrait-medium-tablet u-1/1 c-footer_info">
                <div>
                <h5>{{info.infoPhone}}</h5>
                <a href="mailto:{{info.infoEmail}}">{{info.infoEmail}}</a>
                <br><a href="{{info.facebook}}" target="_blank">Suivez-nous sur Facebook</a>
                </div>
            </div>            
            <div class="o-layout_item c-footer_menu u-1/2@portrait-medium-tablet u-1/1 ">
                <h5>Liens utiles</h5>
                {% set entries = craft.entries.section('footerMenu') %}
                <ul class="o-layout">
                    {% nav entry in entries %}
                        <li class="o-layout_item u-1/2@portrait-medium-tablet u-1/1 ">
                            {% if entry.menuLink|length %}
                                <a href="{{ entry.menuLink.getUrl() }}">{{ entry.title }}</a>
                            {% else %}
                                <p class="c-submenu_title">{{ entry.title }}</p>
                            {% endif %}
                        </li>
                    {% endnav %}
                </ul>                
            </div>
            
        </div>
        </div>
        <div class="c-copyright">
            <div class="o-wrapper">
            <small>© 2019 Tous droits réservés - Municipalité de Saint-Stanislas-de-Kostka - Une signature de Zel </small>
            </div>
        </div>
    
     
</footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="{{ siteUrl }}assets/calendar-demo/js/main.js"></script>

    <link rel="stylesheet" href="{{ siteUrl }}assets/calendar-demo/css/full-calendar.css">


    <link rel="stylesheet" href="//cdn.jsdelivr.net/qtip2/3.0.3/jquery.qtip.min.css">

<script src="../../assets/script/app.js"></script> 
{% block footerJs %}{% endblock %}   
        </body>
    </html>