<section class="o-section c-home_activities-events">
		<div class="c-grid">
			<div class="c-grid-container -even">
				<div class=" o-ratio o-ratio--4:3@1440 o-ratio--16:9@960 c-grid-container__item -image" style="background: url('{{entry.newsImage.one.url()}}');">
					<a class="c-btn c-btn--secondary -news -absolute" href="{{info.newslink}}">Les dernières nouvelles</a>
				</div>
				<div class="c-grid-container__item -content">
					{% include "_components/news/home-news" %}
				</div>
			
			</div>
			<div class="c-grid-container -odd">
					<div class="c-grid-container__item -content">
					{% include "_components/events/home-events" %}
				
			</div>			
			<div class=" o-ratio o-ratio--4:3@1440 o-ratio--16:9@960 c-grid-container__item -image" style="background: url('{{entry.homeCalendarImage.one.url()}}');">
				<a class="c-btn c-btn--secondary -events -absolute" href="{{info.eventsLink}}">Le calendrier d'activités</a>
			</div>
		</div>
</div>
</section>