{% extends "_layout/site" %}

    {% block content %}
			{% include "_components/content/home-content" %}
			{% include "_components/content/bg" with {option:"yup"} %}
            {% include "_components/home-news-events" %}
            {% include "_components/content/bg" with {option:"nope"} %}
            {% include "_components/content/bg-one" %}
            {# {% include "_components/home/home-presentation" %} #}

            
{# 		<section class="o-section c-video o-ratio o-ratio--16:9">
			<iframe src="https://player.vimeo.com/video/331908835"
			frameborder="0" allow=autoplay></iframe>
		</section> #}

    {% endblock %}