.c-home_portrait {
margin-bottom: 20px;
	.c-media {
		padding-right: 24px;
		.c-video {
			background-color: red;
		}	
	}
	.c-content {
		margin-bottom: 56px;
	}
.c-portrait_btn {
			text-align: right;
			.c-btn {
				display: inline-block;
				margin-bottom: 16px;
			}
		}	
}
