.c-home_activities-events {
margin-bottom: 20px;
}



.c-grid {
	padding: 0 20px;
	margin: 0;
	.c-grid-container {
		
		// Hide pattern
		@media (max-width: 600px) {		       
	    	.c-btn--secondary.-news:before  {
	    		display: none;
	    	}
	    	.c-btn--secondary:after {
	    		display: none;
	    	}
	    	.c-btn--secondary:before {
	    		display: none;
	    	}
	    	.c-btn--secondary {
	    		border: none;
	    		padding-left: 0;
	    		max-width: 320px;
	    	}
	    	.c-btn--secondary:hover {
    			background-color: transparent !important;
    		}

	    	
   	 	}

	    display: grid;
	    @media (min-width: 1024px) {
	    	grid-template: repeat(1, [row] minmax(104px, 1fr))/repeat(2, [col] 1fr);
		}
	    grid-gap: 0;
		.c-grid-container__item {
		    grid-row-start: 1;
		}	
		&.-odd {
			@media (min-width: 320px) {
				.c-grid-container__item.-content {
			    	grid-column-start: 1;
			    	grid-row-start: 1;
				}
				.c-grid-container__item.-image {
					grid-column-start: 1;
					grid-row-start: 2;
				}
			}				
			@media (min-width: 1024px) {
				.c-grid-container__item.-content {
			    	grid-column-start: 1;
			    	grid-row-start: 1;
				}
				.c-grid-container__item.-image {
					grid-column-start: 2;
					grid-row-start: 1;
				}
			}
		.c-grid-container__item.-content {
			width: 100%;
			@media (min-width: 1024px) {		       
		    	max-width: 399px;
			}
		}						
		}
		&.-even {
		.c-grid-container__item.-content {
			@media (min-width: 1024px) {		       
		    	max-width: 736px;
			}
		}

			@media (min-width: 320px) {
				.c-grid-container__item.-content {
			    	grid-column-start: 1;
			    	grid-row-start: 1;
				}
				.c-grid-container__item.-image {
					grid-column-start: 1;
					grid-row-start: 2;
				}
			}				
			@media (min-width: 1024px) {
				.c-grid-container__item.-content {
					grid-column-start: 2;
					grid-row-start: 1;
				}
				.c-grid-container__item.-image {
		    		grid-column-start: 1;
		    		grid-row-start: 1;
				}
			}	
		}
		.c-grid-container__item.-content {
		    display: grid;
		    margin: 0 auto;
		    -webkit-box-align: center !important;
		    -ms-flex-align: center !important;
		    align-items: center !important;
		    justify-items: center !important; 
		    padding: 88px 0px 64px;	
		}
		.c-grid-container__item.-image {
			background-size: cover !important;
			background-position: center center !important;
		}	
	}
}
