/* ==========================================================================
   #WRAPPER
   ========================================================================== */

/**
 * Page-level constraining and wrapping elements.
 */

$inuit-wrapper-width: 1420px !default;

@if (type-of($inuit-wrapper-width) != number) {
  @error "`#{$inuit-wrapper-width}` needs to be a number.";
}

.o-wrapper {
  @include inuit-clearfix();
  padding-right: 48px;
  padding-left:  48px;
  margin-right: auto;
  margin-left:  auto;
  max-width: $inuit-wrapper-width;


    @media (min-width: 320px){
        padding-right: 24px;
        padding-left:  24px;
    } 
    @media (min-width: 720px){
        padding-right: 27px;
        padding-left:  27px;
    }
    @media (min-width: 840px){
        padding-right: 30px;
        padding-left:  30px;
    }
    @media (min-width: 960px){
        padding-right: 36px;
        padding-left:  36px;
    }
    @media (min-width: 1024px){
        padding-right: 42px;
        padding-left:  42px;
    }
    @media (min-width: 1280px){
        padding-right: 48px;
        padding-left:  48px;
    }
}

.o-wrapper.-two {
	max-width: 1198px;
	padding: 0;
	margin-left: 0;
}

.o-wrapper.-three {
  max-width: 657px;
  padding: 0 15px;
  margin-left: 0;
  margin: 0 auto;
}


.c-footer {
  .o-wrapper{
    padding-left: 15px;
    padding-right: 15px;
  }
}
