.c-home_news {
	.c-home_news_ul {
		&.slick-slider {
			@media (min-width: 320px) {
				
				max-width: calc(100vw);
			}
			// @media (min-width: 720px) {
			// 	max-width: 720px;
			// }
			@media (min-width: 1024px) {
				max-width: 688px;
			}
			
			margin-left: -48px;
		}
		margin-bottom: 0;
		li {
			.c-content {
				padding-bottom: 12px;
				background: $colorOne;
				padding-top: 64px;
				padding-right: 32px;
				position: relative;
				.c-resume {
					margin-bottom: 56px;
				}
				.c-link {
					margin-bottom: 32px;
					display: inline-block;
					float: right;
					position: relative;
					padding-right: 40px;
					&:after {
						position: absolute;
						content: '';
						width: 23px;
						height: 18px;
						right: 0;
						top: 3px;
						background: url('../images/icons/st-stanislas-de-kostka_icons-green-arrow.svg');
					}
				}
				h3 {
					margin-bottom: 24px;
					&:before {
						display: none;
					}	
				}
				&:before {
					position: absolute;
					content: '';
					width: 27%;
					height: 100%;
					left: -27%;
					top: 0;
					z-index: -1;
					background: $colorOne;
				}
			}
			.c-img {
				position: relative;
				margin-bottom: 20px;
				padding: 0 8px 8px 0;
				&:before,
				&:after {
					position: absolute;
					content: "";
					background: $colorZero;
				}
				&:before {
					width: 8px;
					right: 0;
					height: 90%;
					bottom: 0;
				}
				&:after {
					width: 90%;
					right: 0;
					height: 8px;
					bottom: 0;
				}			
			}
		}		
		.c-home_news_ul_img {
			@media (max-width: 720px) {
				img {
					// min-width: 278px !important;
					width: 100% !important;
					
				}
				
				padding-right: 0;
			}
			padding-right: 48px;
			img {
				width: 100%;
			}
		}
		&_content {
			@media (max-width: 720px) {
				width: 100% !important;
				padding-left: 0 !important;
			
				//flex-direction: column !important;
				flex-wrap: wrap;
			}

			width: 100%;
			padding-left: 48px;	
		
			position: relative;
			display: flex;
.c-home_news_ul_new,
.c-home_news_ul_all {
	display: inline-flex;
	flex-direction: column;
}
			.c-home_news_ul_new {
				background: $colorOne;
				width: calc(66%);
				padding: 40px 15px 32px;


				@media (max-width: 720px) {
					width: 100% !important;
					margin-left: 0 !important;
				}
			}
			.c-home_news_ul_all {

				@media (max-width: 720px) {
					width: 100% !important;
					margin-left: 0 !important;
				}

				background: $colorSev;
				width: calc(33% - 8px);
				margin-left: 16px;
				padding: 28px 15px;
				a {
					font-size: 14px;
					color: #FFF;
					text-transform: uppercase;
					letter-spacing: 0.34px;
					line-height: 24px;
					font-weight: 700;
					text-decoration: none;
				}
			}
		}
		.c-home_news_ul_title {
			font-size: 18px;
			font-weight: 500;
			line-height: 24px;
			letter-spacing: 0.44px;
			margin-bottom: 0px;
		}
		p {
			font-weight: 300;
			letter-spacing: 0.44px;
		}
		&_info {
			font-size: 12px;
		}
	}
	.c-home_news_btn {
		text-align: right;
	}
}		


.c-home_news_ul_wrapper {
	padding-left: 48px;
}

.c-home_news {
	position: relative;
}

.c-home_news_ul_btns {
	@media (max-width: 1023px) {
		display: contents !important;
	}
    position: relative;
    position: absolute;
    top: 0;
    right: 0;
    height: 198px;
    width: 48px;
    /* padding: 0 19px; */
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF;
}

.c-career_vacant_jobs {
	.c-career_vacant_jobs_ul {
		@media (max-width: 720px) {
			&.o-layout {
				display: flex;
				flex-wrap: wrap;
				margin: 0 10px;
				margin-left: -32px;
    			margin-right: -24px;
			}
		}
		&.slick-slider {

			max-width: 688px;
			margin-left: -48px;
		}
		margin-bottom: 0;
		li {
			.c-content {
				padding-bottom: 12px;
				background: $colorOne;
				padding-top: 64px;
				padding-right: 32px;
				position: relative;
				.c-resume {
					margin-bottom: 56px;
				}
				.c-link {
					margin-bottom: 32px;
					display: inline-block;
					float: right;
					position: relative;
					padding-right: 40px;
					&:after {
						position: absolute;
						content: '';
						width: 23px;
						height: 18px;
						right: 0;
						top: 3px;
						background: url('../images/icons/st-stanislas-de-kostka_icons-green-arrow.svg');
					}
				}
				h3 {
					margin-bottom: 24px;
					&:before {
						display: none;
					}	
				}
				&:before {
					position: absolute;
					content: '';
					width: 27%;
					height: 100%;
					left: -27%;
					top: 0;
					z-index: -1;
					background: $colorOne;
				}
			}
			.c-img {
				position: relative;
				margin-bottom: 20px;
				padding: 0 8px 8px 0;
				&:before,
				&:after {
					position: absolute;
					content: "";
					background: $colorZero;
				}
				&:before {
					width: 8px;
					right: 0;
					height: 90%;
					bottom: 0;
				}
				&:after {
					width: 90%;
					right: 0;
					height: 8px;
					bottom: 0;
				}			
			}
		}		
		.c-career_vacant_jobs_ul_img {
			@media (max-width: 720px) {
				img {
					width: calc(100% - 20px) !important;
					min-width: 278px;
				}
				margin-left: -20px;
				height: 100%;
				min-height: 165px;
				padding-right: 0;
				
			}
			padding-right: 48px;
			img {
				width: 100%;
			}
		}
		&_content {
			@media (max-width: 720px) {
				width: 100% !important;
				padding-left: 0 !important;
				margin-left: -20px !important;
				flex-direction: column !important;
			}
			width: 100%;
			padding-left: 48px;	
			margin-top: -48px;
			position: relative;
			display: flex;
.c-career_vacant_jobs_ul_new,
.c-career_vacant_jobs_ul_all {
	display: inline-flex;
	flex-direction: column;
}
			.c-career_vacant_jobs_ul_new {
				background: $colorOne;
				width: calc(66%);
				padding: 40px 32px 32px;
				@media (max-width: 720px) {
					width: 100%;
					min-width: 277px !important;

				}
			}
			.c-career_vacant_jobs_ul_all {
				@media (max-width: 720px) {
					width: 100% !important;
					min-width: 277px !important;
					margin-left: 0 !important;
				}
				background: $colorSev;
				width: calc(33% - 8px);
				margin-left: 16px;
				padding: 28px 32px;
				p {
					font-size: 14px;
					color: #FFF;
					text-transform: uppercase;
					letter-spacing: 0.34px;
					line-height: 24px;
					font-weight: 700;
				}
			}
		}
		.c-career_vacant_jobs_ul_title {
			font-size: 18px;
			font-weight: 500;
			line-height: 24px;
			letter-spacing: 0.44px;
			margin-bottom: 0px;
			text-decoration: none;
		}
		a {
			text-decoration: none;
			color: #2A2A2A;
			display: block;
		}
		p {
			font-weight: 300;
			letter-spacing: 0.44px;
		}
		&_info {
			font-size: 12px;
		}
	}
	.c-career_vacant_jobs_btn {
		text-align: right;
	}
}		

.c-career_vacant_jobs_ul_btns {
	position: relative;
}