<section>
	<div class="o-wrapper">

{% set currentPart = "" %}
{% switch entry.formType.value %}

    {% case 0 %}

       {% set currentPart = "lum" %}
		{% include "_components/forms/template3" with { 'form' : 8,  'templateOption': 'applicant','templateOptionTwo':currentPart,'templateName':'Demande de réparation de luminaires','type':1} %}

    {% case 1 %}

        {% set currentPart = "bac" %}
		{% include "_components/forms/template3" with { 'form' : 8,  'templateOption': 'applicant','templateOptionTwo':currentPart,'templateName':'Demande de réparation de bac','type':1} %}

     {% case 2 %}

        {% set currentPart = "plainte" %}
        {% include "_components/forms/template3" with { 'form' : 8,  'templateOption': 'applicant','templateOptionTwo':currentPart,'templateName':'Formulaire de plainte','type':1} %}

{% endswitch %}



</div>
</section>







