{% set pages = craft.entries.section('record').level(1).order('postDate desc').all() %}

<section class="o-section c-proces-verbaux">
	<div class="o-wrapper">
		{{entry.pageContentContent	}}
	<nav class="c-list">
	    <ul>
	    	{% set currentYear = 0 %}
	        {% for page in pages %}
				{% if currentYear != page.postDate|date('Y')%}
				{% if loop.index != 1%}
				</tbody></table></div></div></li>
				{% endif %}
			<li>
							<div class="c-list_visible">
					<h4>{{page.postDate|date('Y')}}</h4>
					<div class="c-arrow"></div>
				</div>
				 {% if loop.index == 1%}	
				 <div class="c-list_hidden -js-list-active">
				 {% else %}
				 <div class="c-list_hidden">
				 {% endif %}
				
					<div class="c-list_hidden_content">
						<table class="c-proces-verbaux_table">
							<thead>
								<tr>
								<th>Date</th>
								<th>Ordre du jour*</th>
								<th>Documents</th>
								<th>Procès-verbaux</th>
								</tr>
							</thead>
							<tbody>

				{% endif %}
	            <tr>
	            	<td>{{ page.title }}<br>{{page.sessionType}}</td>
	            	<td>{% if page.minutesMeetingsAgenda|length %}<a href="{{page.minutesMeetingsAgenda.one().url()}}">Ordre du jour</a>{% else %}s. o.{% endif %}</td>
	            	<td>{% if page.minutesMeetigsReferenceDocuments|length %}<a href="{{page.minutesMeetigsReferenceDocuments.one.url()}}">{{page.minutesMeetigsReferenceDocuments.one.title}}</a>{% else %}s. o.{% endif %}</td>
	            	<td>{% if page.minutesMeetings|length %}<a href="{{page.minutesMeetings.one.url()}}">Procès verbaux</a>{% else %}s. o.{% endif %}</td>
	            </tr>
	            {% set currentYear = page.postDate|date('Y') %}
	        {% endfor %}
	    </tbody></table></div></div></li>
	    </ul>
	</nav>
	</div>
</section>