<section class="o-section c-background -one">
<svg viewBox="0 0 1548 407" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 52.3 (67297) - http://www.bohemiancoding.com/sketch -->
    <title>bg-one</title>
    <desc>Created with Sketch.</desc>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
        <g id="accueil-copy-6" transform="translate(-27.000000, -3691.000000)" fill-rule="nonzero" stroke="#E6E5DB" stroke-width="5">
            <g id="bg-one" transform="translate(27.000000, 3694.000000)">
                <path d="M2.5,400.7196 L2.5,1.03706035" id="Line-13-Copy-16"></path>
                <path d="M1545.5,400.719789 L1545.5,0.0370354235" id="Line-13-Copy-17"></path>
                <path d="M775.944444,0 L775.944444,399.559471" id="Line-13-Copy-11"></path>
                <path d="M6.5,400.5 L1543.5,400.5" id="Line-14-Copy"></path>
            </g>
        </g>
    </g>
</svg>

<div class="c-background_content">
	<div class="o-layout">
		<div class="o-layout_item u-1/1 u-1/2@portrait-large-tablet"><a class="c-btn c-btn--secondary -info-work -absolute -color-one" href="{{info.workLink.one.url()}}">Info<br>travaux</a></div>
		<div class="o-layout_item u-1/1 u-1/2@portrait-large-tablet" ><a class="c-btn c-btn--secondary -centre -absolute -color-one" href="{{info.centerLink.one.url()}}"	>Le centre socio-culturel</a></div>
	</div>
</div>

</section>



