<section class="c-content">
	<div class="o-wrapper">
		{% if entry is defined %}
		{% if entry.type != "careerAvailable" and entry.type != "news" %}
			<h2>{{entry.pageContentTitle}}</h2>
		{% else %}
			<h2>{{entry.title}}</h2>
		{% endif %}
		{{entry.pageContentContent}}
		{% elseif event is defined %}
		<h2>{{event.title}}</h2>
		{{event.pageContentContent}}
		{% endif %}
		
{% if entry is defined %}
		{% if entry.type == "team" %}
			<p class="c-title-medium">Heures d'ouverture</p>
			<p>
				Lundi au jeudi : {{info.businessHoursMonThu}}
				<br>Vendredi : {{info.businessHoursFri}}
			</p>
			<p class="c-title-medium">Coordonnées de la direction générale</p>
			<p>
				Téléphone : {{info.infoPhone}}
				<br>Télécopieur : {{info.infoFax}}
				<br>Courriel : <a href="mailto:{{info.infoEmail}}">{{info.infoEmail}}</a>
			</p>
		{% endif %}
		{% endif %}
	</div>
</section>