<section class="c-files">
	<div class="o-wrapper">
		<div class="o-wrapper -two">
		<h2>{{entry.pageFilesTitle}}</h2>
		<div class="c-arrow"></div>
		<ul>
		{% for file in entry.pageFiles %}
			<li><a target="_blank" href="{{file.url()}}">{{file.title}}</a></li>
		{% endfor%}
	</ul>
	</div>
	</div>
</section>