<section class="c-image-gallery">
	<div class="o-wrapper">
		<div class="o-wrapper -two">
			<h2>{{entry.pageImagesGalleryTitle}}</h2>
			<ul class="o-layout o-layout--custom-one">
				{% for image in entry.pageImagesGallery%}
					<li class="o-layout_item u-1/2 u-1/4@portrait-medium-tablet u-1/6@landscape-large-tablet">
						<a class="c-gallery_link" href="{{image.url()}}"><img src="{{image.url()}}" alt="{{image.title}}"></a>
					</li>
				{% endfor%}
			</ul>
		</div>
	</div>
</section>

{# portrait-small-handset:   320px,
portrait-medium-handset:   400px,
portrait-large-handset:   480px,
portrait-small-tablet:    600px,
portrait-medium-tablet:   720px,
portrait-large-tablet:    840px,
landscape-small-tablet:   960px,
landscape-medium-tablet:  1024px,
landscape-large-tablet:   1280px,
window-large:             1440px,
window-xlarge:            1920px #}