<section class="c-content -home">
	<div class="c-content_home">
		<div class="o-wrapper -three">
			<h3>{{entry.pageContentTitle}}</h3>
			{{entry.pageContentContent}}
			<a href="{{entry.homeLink.getUrl()}}" class="c-btn c-btn--primary">{{'En savoir plus'|t}}</a>
		</div>
	</div>
</section>