<section class="c-content-layout -img-txt">
	<div class="o-wrapper">
		<div class="o-layout o-layout--large">
			<div class="o-layout_item u-1/2@portrait-medium-tablet u-1/1"><img src="{{entry.imgTxtImage.one.url()}}" alt=""></div>
			<div class="o-layout_item u-1/2@portrait-medium-tablet u-1/1"><h3>{{entry.imgTxtTitle}}</h3>
				{{entry.imgTxtContent}}
			</div>
		</div>
	</div>
</section>

