<section class="c-career c-career_vacant_jobs">
	<div class="o-wrapper ">
{% set entries = craft.entries.section('careerAvailable').level(1).all() %}
{% if entries|length %}
    <ul class="o-layout o-layout--m-large c-list-structure_ul c-career_vacant_jobs_ul">
        {% for entry in entries %}
          <li class="o-layout_item u-1/1@portrait-large-handset u-1/2@portrait-small-tablet">
            
                    <div class="c-career_vacant_jobs_ul_wrapper">

                        <div class="c-career_vacant_jobs_ul_img">
                            <a href="{{entry.url()}}"><img src="https://placeimg.com/640/266/arch"></a></div>
                        <div class="c-career_vacant_jobs_ul_content">
                            
                            <div class="c-career_vacant_jobs_ul_new">
                                <a href="{{entry.url()}}">
                                <p class="c-career_vacant_jobs_ul_title">{{entry.title}}</p>
                                <p>{{entry.newsResume}}</p>
                                <div class="c-career_vacant_jobs_ul_btns">
                                    
                                </div>
                                </a>
                            </div>
                            
                            <div class="c-career_vacant_jobs_ul_all">
                                <a href="{{entry.url()}}"><p>En<br>savoir<br>plus</p></a>
                            </div>
                        </div>
                    </div>                    
                </li>
        {% endfor %}
    </ul>
    {% else %}
    <div class="c-error">
    <p>Il n’y a pas de postes disponibles pour le moment.<br>Restez à l’affût en visitant cette page fréquemment, ou en nous suivant sur Facebook.</p>
    </div>
{% endif %}





	</div>
</section>