<section class="c-list">
	<div class="o-wrapper">
		{% for element in entry.pageList %}
		    {% if element.type == "pageListTab" %}
				{% if element.pageListTitle|length %}
        			<h3>{{ element.pageListTitle }}</h3>
				{% endif %}
				{% set superTableBlocks = element.pageListBlock.all() %}
				<ul>
					{% for stb in superTableBlocks %}
	    				<li>
	    					<div class="c-list_visible">
	    						<h4>{{ stb.pageListBlocTit }}</h4>
	    						<div class="c-arrow"></div>
	    					</div>

	    					<div class="c-list_hidden">
	    						<div class="c-list_hidden_content">
								{% for block in stb.pageListBlockElement %}
			    					{% if block.type == "pageListBlockElementContent" %}			    					
			       						{{ block.pageListBlockElementContent }}			       						
			    					{% elseif block.type == "text" %}
			        					{{ block.text|markdown }}
									{% elseif block.type == "pageListBlockElementFiles" %}			        					
									<div class="c-files">
										<ul>
											{% for file in block.pageListBlockElementFiles %}
												<li><a href="{{file.url()}}">{{file.title}}</a></li>
											{% endfor%}
										</ul>
										</div>

			    					{% elseif block.type == "image" %}
			        					{% set image = block.image.first() %}
			        					{% if image %}
			            					<img src="{{ image.getUrl('thumb') }}" width="{{ image.getWidth('thumb') }}" height="{{ image.getHeight('thumb') }}" alt="{{ image.title }}">
			        					{% endif %}
			    					{% elseif block.type == "pageListBlockElementForms" %}
			    						{% if block.pageListBlockElementForm.value == 0 %}
			        						{% include "_pages/forms/0" %}
			        					{% elseif block.pageListBlockElementForm.value == 1 %}
			        						{% include "_pages/forms/1" %}
			        					{% elseif block.pageListBlockElementForm.value == 2 %}
			        						{% include "_pages/forms/2" %}	
			        					{% elseif block.pageListBlockElementForm.value == 3 %}
			        						{% include "_pages/forms/3" %}
			        					{% elseif block.pageListBlockElementForm.value == 4 %}
			        						{% include "_pages/forms/4" %}	
			        					{% elseif block.pageListBlockElementForm.value == 5 %}
			        						{% include "_pages/forms/5" %}	
			        					{% elseif block.pageListBlockElementForm.value == 6 %}
			        						{% include "_pages/forms/6" %}	
			        					{% elseif block.pageListBlockElementForm.value == 7 %}
			        						{% include "_pages/forms/7" %}	
			        					{% elseif block.pageListBlockElementForm.value == 8 %}
			        						{% include "_pages/forms/8" %}							        						
			        					{% elseif block.pageListBlockElementForm.value == 11 %}
			        						{% include "_pages/forms/11" %}	
			        					{% elseif block.pageListBlockElementForm.value == 12 %}
			        						{% include "_pages/forms/12" %}
			        					{% elseif block.pageListBlockElementForm.value == 13 %}
			        						{% include "_pages/forms/13" %}										        						
			        					{% endif %}

								    {% endif %}
								{% endfor %}
								</div>
							</div>
						</li>
					{% endfor %}
				</ul>
    		{% endif %}
		{% endfor %}
	</div>
</section>