{% set pages = craft.entries.section(entryType).orderBy('title desc').all() %}

    {% for page in pages %}
    	{% if page.title == now|date('Y') %}
			<section class="c-files -records -current-year">
				<div class="o-wrapper">
					<div class="o-wrapper -two">
						<h2>{{prefix}}{{page.title}}</h2>
						{{entry.pageContentContent	}}
						<nav>
						<ul>
							{% for file in page.pageFiles %}
								<li><a target="_blank" href="{{file.url()}}">{{file.title}}</a></li>
							{% endfor%}
						</ul>
						</nav>
					</div>
				</div>
			</section>
        {% endif %}
    {% endfor %}

	<section class="c-list">
		<div class="o-wrapper">
			<ul>
    			{% for page in pages %}
    				{% if page.title != now|date('Y') %}
    					<li>
    						<div class="c-list_visible">
    							<h4>{{prefix}}{{ page.title }}</h4>
    						</div>
    						<div class="c-list_hidden">
								<div class="c-files -records">
									<div class="o-wrapper -two">
										<nav>
											<ul>
												{% for file in page.pageFiles %}
													<li><a target="_blank" href="{{file.url()}}">{{file.title}}</a></li>
												{% endfor%}
											</ul>
										</nav>
									</div>
								</div>
							</div>
						</li>
        			{% endif %}
    			{% endfor %}
			</ul>
		</div>
	</section>