<section class="c-team">
	<div class="o-wrapper">
		{% if entry.type == "team" %}
		<h2>L'équipe administrative</h2>
		{% endif %}
		<div class="o-layout o-layout--x-large o-layout--equal-height">
			{% for block in entry.team %}
			    {% if block.type == "teamTab" %}
			        <div class="o-layout_item c-team_member u-1/2@portrait-medium-tablet u-1/1">
			        		<div class="c-team_image">
			        			<div class="c-team_member_image">
			        				{% if block.teamPhoto|length %}
			        					<img src="{{ block.teamPhoto.one.url('team')}}">
			        				{% else %}
			        				<img src="https://placeimg.com/254/254/arch" alt="">
			        				{% endif %}
			        			</div>	
			        		</div>
			        		<div class="c-team_content">
			        			<div class="c-team_title {{ block.teamStudies ? '-display-studies' : '' }}">
			        				<h3>{{ block.teamName }}</h3>
			        				<span>{{block.teamStudies}}</span>
			        			</div>
			        			<p>{{block.teamRole}}</p>
			        			<p><a href="mailto:{{block.teamEmail}}">{{block.teamEmail}}</a><br><a href="tel:{{block.teamEmail}}">{{block.teamPhone}}</a></p>
			        		</div>	
			        		
			        </div>

			    {% endif %}

			{% endfor %}				
		</div>
	</div>
</section>