<section class="c-content-layout -txt-img">
	<div class="o-wrapper">
		<div class="o-layout o-layout--large">
			<div class="o-layout_item u-1/2@portrait-medium-tablet u-1/1">
				{{entry.txtImgContent}}
			</div>			
			<div class="o-layout_item u-1/2@portrait-medium-tablet u-1/1"><img src="{{entry.txtImgImage.one.url()}}" alt=""></div>
		</div>
	</div>
</section>